body {
  font-size: .875rem;
  background: #f0ebe6;
}

.pt-3_5{
  padding-top: 1.25rem !important;
}

.bg-dark1 {
  background: #3b3d3f !important;
}

.bg-dark2 {
  background: #282828 !important;
}

.w-33 {
  width: 33% !important;
}

/* nav-tabs 書き換え */
.nav-tabs {
  border-color: #aaa !important;
}

.nav-tabs a.nav-link {
  color: #aaa;
  padding-right: 10px;
  padding-left: 10px;
}

.nav-tabs a.nav-link:hover {
  color: #777 !important;
  border-color: #aaa !important;
}

.nav-tabs a.nav-link.active {
  color: #333 !important;
  border-color: #aaa !important;
  background-color: transparent !important;
  border-bottom-color: #f0ebe6 !important;
}

/* ラジオボタン非表示 */
input[type=radio] {
  display: none;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);

  padding: 60px 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
  }
}

.sidebar .nav-link {
  color: #ccc;
}

.sidebar .nav-link:hover {
  color: #00ccff;
}


.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #00ccff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

#smartMenuModal .nav-link{
  color: #ccc;
}
#smartMenuModal .nav-link:hover{
  cursor: pointer;
  color: #00ccff;
}

[role="main"] {
  padding-top: 133px;
  /* 固定ナビゲーションバーの余白 */
}

@media (min-width: 768px) {
  [role="main"] {
      padding-top: 48px;
      /* 固定ナビゲーションバーの余白 */
  }
}

/* スマホ限定メニュー */
#menu-small {
  position: relative;
  height: 17px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
}
#menu-small div {
  position: absolute;
  left: 0;
  height: 3px;
  width: 24px;
  background-color: #ddd;
  border-radius: 1.5px;
  display: inline-block;
  box-sizing: border-box;
}
#menu-small div:nth-of-type(1) {
  top: 0;
}
#menu-small div:nth-of-type(2) {
  top: 7px;
}
#menu-small div:nth-of-type(3) {
  bottom: 0;
}

/* 最初のくるくる */
#loadingSpinner {
  margin-top: 200px;
}

#main{
  min-height: 100vh;
}

/* ページトップへ戻るボタン */
.btn-goPageTop {
  position: relative;
  bottom: 3px;
  font-size: 0;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.btn-goPageTop:before {
  position: relative;
  content: "↑";
  bottom: 1px;
  font-size: 18px;
}
.btn-toggleContent_hide {
  position: relative;
  bottom: 3px;
  font-size: 0;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.btn-toggleContent_hide:before {
  content: "";
  position: relative;
  bottom: 3px;
  border: 5px solid transparent;
  border-bottom-color: #000;
}
.btn-toggleContent_show {
  position: relative;
  bottom: 3px;
  font-size: 0;
  padding: 0px;
  height: 30px;
  width: 30px;
}
.btn-toggleContent_show:before {
  content: "";
  position: relative;
  top: 3px;
  border: 5px solid transparent;
  border-top-color: #000;
}

/* コンテンツ表示 */
#main .content_title{
  cursor: move;
}

/* 基地札 */
.btn-group-toggle label{
  background-color: white;
}

.lb_ope_def{ 
  background-color: white;
}

/* 基地選択欄 */
.lb_plane {
  margin: 5px 0px 5px 0px;
  background-color: rgb(243, 243, 243);
  border: 2px #aaa solid;
  border-radius: .25rem;
}

.lb_plane:hover {
  background-color: rgb(233, 233, 233);
}

/* 機体アイコン */
.plane_canvas {
  cursor: move;
  width: 35px;
  height: 35px;
}


.ship_name_span{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .2rem;
  border: 2px #999 solid;
}
.ship_name_span:hover {
  transition: .5s;
  background-color: rgba(220, 255, 250, 0.8);
}

/* 艦娘機体選択欄 */
.ship_plane {
  margin: 5px 0px 5px 0px;
  background-color: rgb(243, 243, 243);
  border: 2px #aaa solid;
  border-radius: .25rem;
}
.ship_plane:hover {
  background-color: rgb(233, 233, 233);
}

/* 機体名 */
.plane_name_span {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .2rem;
}

.plane_name_span:hover {
  transition: .5s;
  background-color: rgba(220, 255, 250, 0.8);
}

/* 艦載機をドラッグしてきた時のスタイル */
.lb_plane-hover {
  background-color: rgb(168, 220, 255) !important;
  border: 2px rgb(57, 176, 255) solid !important;
}

/* 艦載機が抜き取られてる時の跡地のスタイル */
.lb_plane-drag {
  margin: 5px 0px 5px 0px;
  border: 2px rgb(255, 153, 0) dashed !important;
  background-color: transparent;
  border-radius: .25rem;
}

.star {
  color: rgb(0, 170, 170) !important;
}

.remodel__option {
  color: rgb(0, 170, 170) !important;
}

/* 熟練度関連 */
.prof {
  font-weight: bold;
}

.prof__yellow {
  color: goldenrod !important;
}

.prof__blue {
  color: rgb(91, 173, 255) !important;
}


/* 機体選択欄 テーブル */
.plane_table_content{
  height: 291px;
}
.div_plane_table {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 95%;
}

/* 機体テーブルヘッダ */
.plane_table_ td {
  position: relative;
}
.plane_table_ td:hover {
  cursor: pointer;
  font-weight: bold;
}
.plane_table_ td.sorted {
  font-weight: bold;
}
.plane_table_ td.asc:after {
    position: relative;
    content: "▲";
    bottom: 2px;
    font-size: 5px;
}
.plane_table_ td.desc:after {
  position: relative;
  content: "▼";
  bottom: 2px;
  font-size: 5px;
}

/* 機体カテゴリ画像 */
.img-size-25 {
  width: 25px;
  height: auto;
}

.img-size-32 {
  padding-top: 3px;
  width: 32px;
  height: auto;
}

/* 機体選択欄　機体 */
.plane {
  min-width: 100px;
}

.plane:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.plane_helper {
  padding: 3px 20px 3px 10px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: .2rem;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

/* 機体選択中(モーダル内限定) */
.plane-selected {
  color: #fff;
  background-color: #70bfff !important;
}

/* 艦娘選択欄 テーブル */
.ship_table_content{
  height: 300px;
}
.div_ship_table {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 95%;
}

/* 艦娘選択中(モーダル内限定) */
.ship-selected {
  color: #fff;
  background-color: #70bfff !important;
}

/* 艦戦の色など */
.css_fighter {
  border: 2px rgb(100, 200, 120) solid;
  background-color: rgb(230, 255, 240);
}

.css_fighter:hover {
  background-color: rgb(220, 245, 230);
}

/* 艦攻の色など */
.css_torpedo_bomber {
  border: 2px rgb(100, 190, 255) solid;
  background-color: rgb(235, 250, 255);
}

.css_torpedo_bomber:hover {
  background-color: rgb(225, 240, 245);
}

/* 艦爆の色など */
.css_dive_bomber {
  border: 2px rgb(247, 110, 110) solid;
  background-color: rgb(255, 235, 235);
}

.css_dive_bomber:hover {
  background-color: rgb(245, 225, 225);
}

/* 艦偵の色など */
.css_cb_reconnaissance {
  border: 2px rgb(255, 200, 10) solid;
  background-color: rgb(255, 255, 230);
}

.css_cb_reconnaissance:hover {
  background-color: rgb(245, 245, 220);
}

/* 水上機の色など */
.css_sp {
  border: 2px rgb(140, 205, 150) solid;
  background-color: rgb(240, 250, 240);
}

.css_sp:hover {
  background-color: rgb(230, 240, 230);
}

/* 陸攻の色など */
.css_lb_attack_aircraft {
  border: 2px rgb(60, 170, 30) solid;
  background-color: rgb(230, 250, 225);
}

.css_lb_attack_aircraft:hover {
  background-color: rgb(220, 240, 215);
}

/* 陸軍戦闘機の色など */
.css_lb_fighter {
  border: 2px rgb(150, 230, 165) solid;
  background-color: rgb(235, 255, 240);
}

.css_lb_fighter:hover {
  background-color: rgb(225, 245, 230);
}

/* 対潜哨戒機の色など */
.css_lb_asw_aircraft {
  border: 2px rgb(110, 135, 205) solid;
  background-color: rgb(160, 185, 255);
}

.css_lb_asw_aircraft:hover {
  background-color: rgb(150, 175, 245);
}

/* 夜間機の色など */
.css_cb_night_aircraft {
  border: 2px rgb(130, 130, 180) solid;
  background-color: rgb(215, 215, 230);
}

.css_cb_night_aircraft:hover {
  background-color: rgb(205, 205, 220);
}

/* モーダル閉じる(×)ボタン */
#modalClose {
  outline: none;
}

/* 結果表示バー　描画領域 */
#resultChart {
}

/* 結果表示バー　ツールチップ */
.tooltip_resultBar {
  color: #222;
  position: absolute;
  min-width: 250px;
  width: auto;
  height: auto;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

/* 結果表示バー x軸 */
.x_axis .domain {
  display: none;
  stroke-dasharray: 5;
  stroke-dashoffset: 5;
}

/* 結果表示バー y軸  */
.y_axis path {
  display: none;
}

/* 結果表示バー y軸 */
.y_axis line {
  display: none;
}

/* 詳細設定欄 */
#setting_content label{
  cursor: pointer;
}