#header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1090;
}
#custom_alert_wraper {
   top: 90%;
}
.modal { max-height: 90%; }
.dark-theme .modal { background-color: rgb(45, 45, 52); }
.dark-theme .btn-small:disabled,
.dark-theme .btn-small[disabled]{
   background-color: rgb(103, 103, 119)!important;
}

.flex-wrap {
   flex-wrap: wrap;
}

.alert-danger {
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
}
.alert-warning {
   color: #856404;
   background-color: #fff3cd;
   border-color: #ffeeba;
}
.alert-success {
   color: #155724;
   background-color: #d4edda;
   border-color: #c3e6cb;
}

.d-flex {
   display: -ms-flexbox;
   display: flex;
}
.d-none { display: none; }
.d-block { display: block; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
@media (min-width: 576px) {
   .d-sm-block { display: block; }
   .d-sm-inline { display: inline; }
   .d-sm-none { display: none; }
}
@media (min-width: 768px) {
   .d-md-block { display: block; }
   .d-md-inline { display: inline; }
   .d-md-none { display: none; }
}
@media (min-width: 992px) {
   .d-lg-block { display: block; }
   .d-lg-inline { display: inline; }
   .d-lg-none { display: none; }
}
.align-self-center {
   -ms-flex-item-align: center!important;
   align-self: center!important;
}
.align-items-center {
   -ms-flex-align: center!important;
   align-items: center!important;
}
.flex-grow-1 {
   -ms-flex-positive: 1;
   flex-grow: 1;
}
.justify-content-between {
   -ms-flex-pack: justify;
   justify-content: space-between;
}
.justify-content-center {
   -ms-flex-pack: justify;
   justify-content: center;
}
.ml-auto,
.mx-auto { margin-left: auto; }
.mr-auto,
.mx-auto { margin-right: auto; }
.my-0,
.mt-0 { margin-top: 0; }
.my-1,
.mt-1 { margin-top: 0.25rem; }
.my-2,
.mt-2 { margin-top: 0.5rem; }
.my-3,
.mt-3 { margin-top: 1rem; }
.my-4,
.mt-4 { margin-top: 1.5rem; }
.my-0,
.mb-0 { margin-bottom: 0; }
.my-1,
.mb-1 { margin-bottom: 0.25rem; }
.my-2,
.mb-2 { margin-bottom: 0.5rem; }
.my-3,
.mb-3 { margin-bottom: 1rem; }
.my-4,
.mb-4 { margin-bottom: 1.5rem; }
.mx-0,
.ml-0 { margin-left: 0; }
.mx-1,
.ml-1 { margin-left: 0.25rem; }
.mx-2,
.ml-2 { margin-left: 0.5rem; }
.mx-3,
.ml-3 { margin-left: 1rem; }
.mx-4,
.ml-4 { margin-left: 1.5rem; }
.mx-0,
.mr-0 { margin-right: 0; }
.mx-1,
.mr-1 { margin-right: 0.25rem; }
.mx-2,
.mr-2 { margin-right: 0.5rem; }
.mx-3,
.mr-3 { margin-right: 1rem; }
.mx-4,
.mr-4 { margin-right: 1.5rem; }
.py-1,
.pt-1 { padding-top: 0.25rem; }
.py-2,
.pt-2 { padding-top: 0.5rem; }
.py-3,
.pt-3 { padding-top: 1rem; }
.py-4,
.pt-4 { padding-top: 1.5rem; }
.py-1,
.pb-1 { padding-bottom: 0.25rem; }
.py-2,
.pb-2 { padding-bottom: 0.5rem; }
.py-3,
.pb-3 { padding-bottom: 1rem; }
.py-4,
.pb-4 { padding-bottom: 1.5rem; }
.px-1,
.pl-1 { padding-left: 0.25rem; }
.px-2,
.pl-2 { padding-left: 0.5rem; }
.px-3,
.pl-3 { padding-left: 1rem; }
.px-4,
.pl-4 { padding-left: 1.5rem; }
.px-1,
.pr-1 { padding-right: 0.25rem; }
.px-2,
.pr-2 { padding-right: 0.5rem; }
.px-3,
.pr-3 { padding-right: 1rem; }
.px-4,
.pr-4 { padding-right: 1.5rem; }
.border-top {
   border-top: 1px solid #dee2e6;
}

input[type="number"] {
   text-align: right;
}

#main {
   margin-top: 0.5rem;
}

[type="radio"]+span:not(.lever),
[type="checkbox"]+span:not(.lever),
.dropdown-content li [type="checkbox"]+span:not(.lever) {
   color: #555;
}
.dark-theme [type="radio"]+span:not(.lever),
.dark-theme [type="checkbox"]+span:not(.lever),
.dark-theme .dropdown-content li [type="checkbox"]+span:not(.lever) {
   color: #ccc;
}
.dark-theme input[type="range"] {
   border-color: rgb(45, 45, 52);
}

.dark-theme .dropdown-content {
   background-color: #222;
}
.dark-theme .dropdown-content li label {
   color: #ccc;
}
.dark-theme [type="checkbox"]+span:not(.lever):before,
.dark-theme .dropdown-content li [type="checkbox"]+span:not(.lever):before {
   border-color: #888;
}
.dark-theme [type="radio"]:checked+span:not(.lever),
.dark-theme [type="checkbox"]:checked+span:not(.lever),
.dark-theme .dropdown-content li [type="checkbox"]:checked+span:not(.lever) {
   color: #eee;
}
.dark-theme [type="checkbox"]:checked+span:not(.lever):before,
.dark-theme .dropdown-content li [type="checkbox"]:checked+span:not(.lever):before {
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #41ffec;
   border-right-color: #41ffec;
}
.dark-theme .select-wrapper .caret {
   fill: #ccc;
}

.collapsible-header,
.collapsible-body,
.tabs {
  background-color: transparent;
}
.collapsible-body {
   padding: 0rem 1rem 1rem 1rem;
}

.waves-effect.waves-blue .waves-ripple {
   background-color: rgba(0, 140, 255, 0.7);
}

.tabs .tab a{
   color:#555;
   background-color: transparent!important;
}
.tabs .tab a:hover {
   color:#000;
   background-color: rgba(200, 200, 200, 0.05)!important;
}
.tabs .tab a.active {
   background-color: rgba(200, 200, 200, 0.1)!important;
   color:#333;
}
.tabs .indicator {
   background-color:rgb(0, 140, 255);
}

.dark-theme .tabs .tab a {
   color: #ccc;
}
.dark-theme .tabs .tab a:hover {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.05)!important;
}
.dark-theme .tabs .tab a.active {
   color: #eee;
   background-color: rgba(255, 255, 255, 0.1)!important;
}

.collapsible,
.collapsible-header,
.collapsible-body {
   border: none;
}
.collapsible-header i {
   margin-right: 0.25rem;
}

.dark-theme .input-field input,
.dark-theme textarea {
   color: #eee;
}
.dark-theme .input-field input:disabled+label {
   color: #9e9e9e;
}
.dark-theme .input-field input:disabled {
   color: #9e9e9e;
   border-color: #9e9e9e;
}

/* ------------------------------
   一覧反映手順
-------------------------------- */
#ships_reader .general_box,
#items_reader .general_box {
   max-width: 1200px;
   margin: 1.5rem auto;
   padding: 1rem 1rem;
}
#ship_json_input,
#item_json_input {
   max-height: 45px;
}
#btn_read_ship_container,
#btn_read_item_container {
   max-width: 200px;
   margin: 0 auto;
}
.text_warning { color: rgb(255, 0, 0); }
.dark-theme .text_warning { color: rgb(255, 255, 0); }
.warning_box {
   border-radius: 0.25rem;
   border: 2px solid rgb(218, 183, 80);
   padding: 0.5rem 1rem;
}
.dark-theme .warning_box {
   border-color: rgb(196, 169, 87);
}
.tutorial_img {
   max-width: 80%;
   margin: 1.5rem auto;
   text-align: center;
}
.tutorial_img img{
   max-width: 100%;
   height: auto;
}


/* ------------------------------
   艦娘一覧
-------------------------------- */
#ship_list > .general_box {
   margin: 0.5rem;
}
.ship_type_header {
   font-size: 1.3em;
   border-bottom: 1px solid #64b4ff;
   padding: 0.5rem;
   margin-bottom: 1rem;
}
.ship_type_body {
   display: flex;
   flex-wrap: wrap;
}
.ship_container {
   margin: 0.25rem;
   padding: 0.25rem 0.5rem 0 0.5rem;
}
.ship_container.no_ship img {
   filter: grayscale(60%);
}
.version_container {
   margin-bottom: 0.25rem;
}
.version_ship_name {
   font-size: 1.2em;
   align-self: center;
}
.version_ship_stock {
   font-size: 0.9em;
   margin-left: auto;
   align-self: flex-end;
}
.version_header {
   border-bottom: 1px solid #888;
}
.version_header .ship_img_div,
.version_header img {
   height: 60px;
   width: 240px;
}
.detail_container {
   display: flex;
   justify-content: space-between;
   padding: 0.1rem 0.25rem 0.1rem 0;
   border-bottom: 1px solid #888;
   cursor: pointer;
   transition: 0.05s;
}
.detail_container.lv_max2 {
   color: #000;
   background-color: rgba(131, 220, 255, 0.753);
}
.detail_container.lv_100 {
   color: #000;
   background-color: rgba(255, 131, 131, 0.753);
}
.detail_container.lv_max {
   color: #000;
   background-color: rgba(131, 255, 131, 0.753);
}
.detail_container.no_ship {
   color: #000;
   padding: 0.1rem 0;
   background-color: rgba(128, 128, 128, 0.5);
}
.dark-theme .detail_container.no_ship {
   color: #fff;
   padding: 0.1rem 0;
}
.detail_container.no_ship div { margin: 0 auto; }
.detail_container:hover {
   color: #000;
   background-color: rgba(255, 242, 128, 0.753);
}
.detail_container div {
   align-self: center;
}
.detail_ship_label_img,
.detail_ship_label_img img {
   height: 16px;
   width: auto;
}
.ship_lv {
   font-size: 1.1em;
   width: 32px;
   text-align: right;
}
.detail_ship_status {
   margin-left: 0.25rem;
}
.sally_area,
.sally_area img {
   height: auto;
   width: 32px;
}

#modal_ship_edit {
   max-width: 600px;
}
#ship_status_inputs .input-field {
   margin-top: 0px;
   margin-bottom: 0px;
}
.version_img_container,
.version_img_container img {
   width: 200px;
   height: 50px;
}

.selectable_area_banner {
   cursor: pointer;
   opacity: 0.3;
   transition: 0.1s;
}
.selectable_area_banner:hover {
   opacity: 0.6;
}
.selectable_area_banner.selected {
   opacity: 1;
}

/* ------------------------------
  装備一覧
-------------------------------- */
#item_list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 0.5rem;
   column-gap: 0.5rem;
 }
 @media (min-width: 760px) {
   #item_list {
     grid-template-columns: 1fr 1fr 1fr;
   }
 }
 @media (min-width: 1100px) {
   #item_list {
     grid-template-columns: 1fr 1fr 1fr 1fr;
   }
 }
 @media (min-width: 1600px) {
   #item_list {
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }
 }
 @media (min-width: 2000px) {
   #item_list {
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   }
 }
 @media (min-width: 2120px) {
   #item_list {
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   }
}

.item_type_img {
   height: 32px;
   width: auto;
}
.item_icon {
   height: 28px;
   width: auto;
}

.type_content {
   padding: 0.5rem;
}

.item_type_header {
   padding-bottom: 0.5rem;
   border-bottom: 1px solid #999;
}
.item_type_header div,
.item_header div,
.item_detail div {
   align-self: center;
}

.item_container {
   cursor: pointer;
   border-bottom: 1px solid #999;
   text-shadow: none;
   transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.item_container:hover {
   background-color: rgba(128, 128, 128, 0.1);
}

.dark-theme .item_type_header,
.dark-theme .item_container {
   border-color: #ccc;
}
.item_container.no_item {
   padding-top: 0.25rem;
   padding-bottom: 0.25rem;
}
.item_container.no_item .item_name {
   opacity: 0.6;
}

.item_header {
   display: flex;
   padding-right: 0.5rem;
}
.item_name {
   margin-left: 0.25rem;
   -ms-flex-positive: 1!important;
   flex-grow: 1!important;
   width: 1px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.item_detail {
   display: flex;
   margin-left: auto;
   width: 100px;
   border-top: 1px solid rgba(128, 128, 128, 0.25);
   padding-right: 0.5rem;
}
.dark-theme .item_detail{
   border-top: 1px solid rgba(204, 204, 204, 0.25);
}

.text_remodel {
   color: rgb(0, 175, 175);
}
.item_remodel {
   margin-left: auto;
   width: 40px;
}
.text_count {
   width: 36px;
   text-align: right;
   color: rgb(0, 102, 255);
}
.dark-theme .text_count {
   color: rgb(0, 162, 255);
}
.sum_count {
   opacity: 0.6;
}

#img_plane_card_parent,
#img_plane_card {
   width: 240px;
   height: 240px;
}
#edit_item_status_container,
#edit_item_name_parent {
   color: rgb(255, 255, 255);
   background-color: rgb(50, 50, 50);
   border: 2px solid rgb(196, 169, 87);
   padding: 0.25rem 0.5rem;
}
.dark-theme #edit_item_name_parent,
.dark-theme #edit_item_status_container {
   background-color: transparent;
   border-width: 1px;
}

#edit_item_type_name {
   margin-left: 0.75rem;
   padding: 0.25rem 0.5rem;
   background-color: rgb(38, 38, 38);
   border-top: 2px solid rgb(26, 26, 26);
   border-left: 2px solid rgb(26, 26, 26);
}
#edit_item_status_container {
   padding: 0.5rem 0.5rem;
}
#edit_item_status_parent {
   display: flex;
   flex-wrap: wrap;
   -ms-flex-pack: justify;
   justify-content: space-around;
}
#edit_item_status_parent::after{
   content:"";
   display: block;
   width:45%;
}
#edit_item_name,
#edit_item_type_name,
.edit_item_status {
   color: rgb(196, 169, 87);
}
#edit_item_name {
   font-size: 1.3em;
}
.edit_item_status:not(.d-none) {
   margin: 0.2rem 0;
   padding: 0.25rem 0.5rem;
   display: flex;
   background-color: rgb(38, 38, 38);
   border-top: 2px solid rgb(26, 26, 26);
   border-left: 2px solid rgb(26, 26, 26);
   width: 45%;
}
.edit_item_status .edit_item_status_value {
   margin-left: auto;
   text-align: right;
   color: rgb(255, 255, 255);
}
#edit_item_type {
   height: 32px;
   width: auto;
}

#modal_item_edit {
   max-width: 600px;
}

#modal_item_edit .modal-content {
   padding: 1rem 1rem 0 1rem; 
}
#item_stock_inputs {
   margin-bottom: 0px;
}