
h1 {
  font-size: 1.65em;
  margin-bottom: 0px;
}
input[type="radio"] { display: none; }
input[type="text"] { font-size: 12px; }
input[type="number"] { text-align: right; }

#main { min-height: 100vh; }

#modal_enemy_select .modal-content { min-height: 80vh; }
@media (min-width: 577px) { .modal-xl { max-width: 522px; } }
@media (min-width: 992px) { .modal-xl { max-width: 800px; } }
@media (min-width: 1200px) {
  .modal-xl { max-width: 980px; }
  /* メニューボタン表示時にその分空ける */
  #main:not(.reduced).mr-md-5 { margin-right: 3rem !important; }
}

.modal-backdrop {
  min-width: 1024px;
  min-height: 960px;
}
.modal-backdrop.show { opacity: .75; }
@media (min-width: 994px) { #lb_tab_select { display: none !important; } }
.fa-archive { color: #ac5300; }


/* -----------------------------------
  ユーティリティ
----------------------------------- */
.bg-dark1 { background: rgb(65, 65, 68) !important; }
.bg-dark2 { background: rgb(40, 40, 43) !important; }
.bg-ddd { background-color: #ddd; }
.bg-ccc { background-color: #ccc; }
.bg-aaa { background-color: #aaa; }
.bg-e9ecef { background-color: #e9ecef; }
.bg-hover { background-color: rgba(128, 128, 128, 0.05); }
.sortable_handle { cursor: move; }
.cur_help { cursor: help; }
.img-size-18_lock {
  width: auto;
  height: 18px;
}
.img-size-18 {
  width: 18px;
  height: auto;
}
.img-size-20 {
  height: 20px;
  width: auto;
}
.img-size-20_lock {
  height: 20px;
  width: 20px;
}
.img-size-25 {
  width: 25px;
  height: auto;
}
.img-size-30 {
  width: 30px;
  height: auto;
}
.img-size-32 {
  padding-top: 3px;
  width: 32px;
  height: auto;
}
.img-size-36 {
  width: 36px;
  height: auto;
}
.size-25 {
  width: 25px;
  height: 25px;
}
.text_orange { color: rgb(255, 120, 0); }
.text_deep_orange { color: rgb(255, 80, 0); }
.text_red { color: rgb(255, 0, 0); }
.text_remodel { color: rgb(0, 175, 175); }
.dark-theme .text_remodel { color: rgb(0, 200, 200); }
.min-h-31px { height: 31px }

.general_tr {
  cursor: pointer;
  border: 1px solid transparent;
  text-shadow: none;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.general_tr:hover {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .general_tr:hover {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(240, 240, 240, 0.5), 0 0 20px rgba(240, 240, 240, 0.2);
  text-shadow: 2px 2px 3px #000;
}
.general_tr:active { background-color: rgba(109, 214, 255, 0.5) !important; }
.dark-theme .general_tr:active { background-color: rgba(230, 248, 255, 0.4) !important; }
.tran0 { transition: 0s; }

.col_half{
  text-align: left;
  width: calc(100% / 2);
}
/* -----------------------------------
  カスタムコントロール
----------------------------------- */
.btn_icon {
  width: 18px;
  font-size: 18px;
  transition: 0.4s;
  opacity: 0.5;
}
.btn_icon:hover {
  opacity: 1;
  cursor: pointer;
}
.btn_preset:hover { filter: drop-shadow(0px 0px 4px rgba(255, 185, 120, 0.5)); }
.btn_reset { filter: drop-shadow(0px 0px 4px rgba(128, 128, 128, 0.5)); }
.trade_enabled { cursor: move; }

.capturing {
  display: inline-block;
  font-size: 14px;
}
#landBase.capturing {
  min-width: 1024px;
}
#friendFleet.capturing {
  min-width: 1100px;
}
#result.capturing {
  width: 1000px;
}
#input_data.capturing {
  min-width: 1000px;
}
.general_box_capture{
  border: 1px #ccc solid;
}
.dark-theme .general_box_capture{
  border: 1px #666 solid;
}

.custom-control-input { cursor: pointer; }
.custom-control-label {
  cursor: pointer;
  padding-top: .15rem;
}
.custom-control-label::before { background-color: rgba(255, 255, 255, 0.3); }
.scroll_thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-top: 1px rgba(128, 128, 128, 0.502) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
  background-color: rgb(235, 235, 235);
  font-size: 11px;
  padding-top: .3rem;
  padding-bottom: .3rem;
  z-index: 4;
}
.general_thead td{
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 11px;
  background-color: rgba(128, 128, 138, 0.2);
  border-top: 1px rgba(128, 128, 128, 0.502) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.general_thead_div{
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 11px;
  background-color: rgba(128, 128, 138, 0.2);
  border-top: 1px rgba(128, 128, 128, 0.502) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.progress {
  background-color: rgba(0, 0, 0, 0.1);
  height: 8px;
}

.dummy_a {
  cursor: pointer;
  color: #888888;
}
.dark-theme .dummy_a { color: rgb(86, 180, 255); }
.dummy_a:hover {
  text-decoration: underline;
}

/* -----------------------------------
  基地航空隊関連 #landBase
----------------------------------- */
.lb_tab { max-width: 460px; }

.simple_lb_progress {
  cursor: pointer;
}

@media (min-width: 1400px) {
  #main:not(.reduced) .lb_tab_main {
    padding-right: .3rem;
    padding-left: .3rem;
  }
  #main:not(.reduced) .simple_lb_progress {
    padding-right: .25rem;
    padding-left: .25rem;
  }
}
.lb_infomation {
  font-size: 12px;
  height: 20px;
}
/* 基地札 */
.ohuda_select {
  font-size: 12px;
  width: 82px;
}
/* 制空半径簡易 */
.lb_sammary { font-size: 12px; }

.baseNo {
  font-size: 16px;
}

.baseNo,
.resource,
.lb_infomation > div,
#defense_summary > div {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
/* 必要資材欄 */
.resource {
  cursor: help;
  transition: 0.2s;
}
.resource:hover { cursor: help; }
.resource_img {
  width: 18px;
  height: 18px;
}
/* 基地機体選択欄 */
.lb_plane {
  min-width: 270px;
  border: 2px rgb(180, 180, 180) solid;
  border-radius: .25rem;
  text-shadow: 1px 1px 3px #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
.dark-theme .lb_plane {
  text-shadow: 1px 1px 3px #000;
  border: 2px rgb(128, 128, 128) solid;
  background-color: rgba(60, 65, 75, 0.5);
}
.lb_plane:hover { box-shadow: inset 0 0 20px rgba(128, 128, 128, 0.2); }

.simple_bar { height: 5px; }
.simple_label {
  text-align: center;
  font-size: 11px;
}
.btn_show_contact_rate_lb {
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
}
.btn_show_contact_rate_lb:hover { opacity: 1; }

.btn_toggle_lb_info {
  margin-left: 0.25rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
  user-select: none;
}
.btn_toggle_lb_info:hover {
  opacity: 1.0;
}

/* -----------------------------------
  艦隊関連 #friendFleet
----------------------------------- */
#main .fleet_tab {
  grid-template-columns: 1fr;
  display: grid;
}
#main .capturing .fleet_tab {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 !important;
}
@media (min-width: 600px) {
  #main .fleet_tab { margin: 0 4rem; }
}
@media (min-width: 760px) {
  #main .fleet_tab {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 1100px) {
  #main .fleet_tab {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 1600px) {
  #main:not(.reduced) .fleet_tab {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 2000px) {
  #main:not(.reduced) .fleet_tab {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 2120px) {
  #main:not(.reduced) .fleet_tab {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
  }
}

.ship_name_span,
.form_ship_level,
.form_ship_luck {
  cursor: pointer;
}
.ship_name_span::after,
.form_ship_level::after,
.form_ship_luck::after {
  content: '';
  display: block;
  width: 0;
  border-bottom: 1px solid #777;
  transition: 0.25s ease-in-out;
}
.ship_name_span:hover::after,
.form_ship_level:hover::after,
.form_ship_luck:hover::after {
  width: 100%;
}

.form_ship_luck,
.ship_header > div,
.ship_name_span,
.ship_sumAP,
.ship_range_parent,
.can_attack_lb,
.form_ship_level {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.no_ship .anti_air_status,
.no_ship .ship_info {
  opacity: 0.3;
}
.ship_name_span {
  opacity: 1;
}

.ap_detail {
  font-size: 11px;
  opacity: 0.8;
}

/* 艦娘機体選択欄 */
.ship_plane {
  width: 100%;
  border: 2px rgb(180, 180, 180) solid;
  border-radius: 0.25rem;
  text-shadow: 1px 1px 3px #fff;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.relative {
  position: relative;
}
.item_special {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 0rem 0.15rem;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #111;
  background: rgba(255, 249, 198, 0.9);
  border: 1px solid rgb(255, 230, 0);
  border-radius: 0.2rem;
}
.lb_plane .item_special:before,
.ship_plane .item_special:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;
  margin-top: -3px;
  border: 3px solid transparent;
  border-right: 3px solid rgba(255, 249, 198, 0.9);
  z-index: 2;
}
.lb_plane .item_special::after,
.ship_plane .item_special::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -4px;
  border: 4px solid transparent;
  border-right: 4px solid rgb(255, 230, 0);
  z-index: 1;
}
.dark-theme .item_special {
  text-shadow: none;
  background: rgba(213, 242, 255, 0.9);
  border: 1px solid rgb(0, 179, 255);
}
.dark-theme .item_special:before  {
  border-right: 3px solid rgba(179, 232, 255, 0.9);
}
.dark-theme .item_special::after  {
  border-right: 4px solid rgb(0, 179, 255);
}

.lb_plane .item_special,
.ship_plane .item_special {
  top: inherit;
  right: 76px;
  padding: 0.1rem 0.5rem;
  z-index: 1;
}
.item_special.flash {
  animation: flash 3s ease-in-out infinite;
}
@keyframes flash {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}
.dark-theme .ship_plane {
  text-shadow: 1px 1px 3px #000;
  border: 2px rgb(128, 128, 128) solid;
  background-color: rgba(60, 65, 75, 0.5);
}
.ship_plane:hover { box-shadow: inset 0 0 20px rgba(128, 128, 128, 0.2); }

.ship_img_parent {
  position: relative;
}
.ship_img {
  height: 32px;
  width: 128px;
}
.ship_area_img {
  position: absolute;
  top: -3px;
  left: 26px;
  height: 38px;
  width: auto;
}

.btn_show_contact_rate {
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
}
.btn_show_contact_rate:hover { opacity: 1; }

.btn_antiair_input {
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
}
.btn_antiair_input:hover { opacity: 1; }

.hunshin.disabled {
  display: none;
}

.ship_tab.d-none {
  transition: 0.4s;
  width: 0px;
}

.ship_tab.ship_tab_hover {
  background-color: rgba(0, 153, 255, 0.4) !important;
  transition: 0.2s;
}

.btn_ship_create {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 256px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.4);
  text-shadow: none;
  user-select: none;
  border-radius: 0.25rem;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn_ship_create:hover {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .btn_ship_create:hover {
  border-color: #aaa;
  box-shadow: inset 0 0 20px rgba(240, 240, 240, 0.5), 0 0 20px rgba(240, 240, 240, 0.2);
  text-shadow: 2px 2px 3px #000;
}
.btn_ship_create:active { background-color: rgba(109, 214, 255, 0.5) !important; }
.dark-theme .btn_ship_create:active { background-color: rgba(230, 248, 255, 0.4) !important; }

/* -----------------------------------
  装備コントロール関連
----------------------------------- */
.plane_name {
  cursor: pointer;
  border-radius: 0.2rem;
  transition: 0.5s;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
  width: 146px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plane_name_span {
  font-size: 12px;
  padding-left: 0.25rem;
}

.plane_img_sm {
  width: 22px;
  height: auto;
}
.plane_img {
  width: 30px;
  height: auto;
}
.plane_lock {
  width: 16px;
  cursor: pointer;
  color: #ffa600;
  margin-left: .25rem;
}
.plane_unlock {
  width: 16px;
  cursor: pointer;
  color: #ffa600;
  opacity: .4;
  transition: .4s;
  margin-left: .25rem;
}
.plane_unlock:hover { opacity: 1; }

.lb_plane .col > div,
.ship_plane_draggable > div {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
.ship_plane_draggable {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.btn_remove_plane {
  width: 14px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.2;
  font-size: 16px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.btn_remove_plane:hover {
  opacity: .8;
  filter: drop-shadow(0px 0px 4px #787878);
}
.btn_remove_plane_capture {
  opacity: 0 !important;
  transition: 0s !important;
}
.btn_remove_plane > i { font-size: 16px; }
/* 改修関連 */
.remodel_select_parent { width: 34px; }
.remodel_select{
  cursor: pointer;
  transition: 0.4s;
}
.remodel_disabled {
  cursor: default;
  color: rgb(172, 172, 172) !important;
}
.remodel_select:hover { filter: drop-shadow(0px 0px 6px #0ff); }
.remodel_disabled:hover { filter: drop-shadow(0px 0px 0px #fff); }
.remodel_select_parent .dropdown-menu {
  min-width: 62px;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.3);
  font-size: 14px;
  padding: 0;
}
.remodel_item {
  cursor: pointer;
  transition: 0.2s;
  padding: .15rem .5rem;
}
.remodel_item:hover { background-color: rgba(128, 128, 128, 0.3); }
.remodel_item:active {
  color: #fff;
  background-color: rgb(0, 200, 200);
  filter: drop-shadow(0px 0px 6px #0ff);
}
/* 熟練度関連 */
.prof_select {
  cursor: pointer;
  width: 20px;
  border: none;
  color: transparent;
  background-color: transparent;
  transition: 0.4s;
}
.prof_item { transition: 0.4s; }
.prof_opt {
  width: 20px;
  height: 25px;
  transition: 0.4s;
}
.prof_select_parent .dropdown-menu {
  min-width: 48px;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.3);
  padding: 0;
}
.prof_select_parent .dropdown-item {
  cursor: pointer;
  padding: 1px 5px;
  height: 28px;
  text-align: center;
}
.prof_select_parent .dropdown-item:hover { background-color: rgba(128, 128, 128, 0.3); }
.prof_select_parent .dropdown-item:active { background-color: rgba(128, 128, 128, 0.5); }
/* 搭載数 */
.slot_select_parent {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 22px;
  padding-right: 0.25rem;
  margin-left: 0.25rem;
}
.slot:not(.d-none),
.slot_wrench {
  /* -ms-flex-item-align: center;
  align-self: center; */
  cursor: pointer;
  transition: .4s;
}
.capturing .slot_wrench { margin-right: 2rem; }

.slot:hover { filter: drop-shadow(0 0 3px #969696); }
.slot_select_parent .dropdown-menu {
  z-index: 1000;
  width: 240px;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.3)
}

/* 艦載機をドラッグした時のスタイル */
.plane_draggable_hover {
  background-color: rgba(0, 153, 255, 0.4) !important;
  border: 2px #39b0ff solid !important;
  transition: 0.2s;
}

.item_tooltip { min-width: 175px; }
.item_status_box {
  min-width: 120px;
  max-width: 180px;
}
.item_status_box .col_half{ white-space: nowrap; }


/* ------------------------------
  敵艦隊関連 #enemyFleet
-------------------------------- */
#battle_count { width: 60px; }
#landBase_target { width: 60px; }
.enemy_content {
  cursor: pointer;
  border-radius: .15rem;
}
.enemy_content:hover { background-color: rgba(128, 128, 128, 0.1); }
.no_enemy { opacity: .3; }
.no_enemy:hover { opacity: .6; }

.enemy_content > div,
.enemy_name_img,
.enemy_ap_input {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.enemy_content.is_dead {
  opacity: 0.4;
}

.enemy_index {
  margin-left: .25rem;
  font-size: 12px;
}
.enemy_name {
  display: table;
  font-size: 12px;
}
.enemy_name_span {
  display: table-cell;
  vertical-align: middle;
}
.enemy_name_img {
  height: 30px;
  width: 128px;
}
.enemy_name_text {
  min-width: 128px;
  max-width: 158px;
}

.enemy_ap_select_parent {
  width: 24px;
  font-size: 12px;
  text-align: right;
}

/* ドラッグ要素のホバー時 */
.hover_enemy_content {
  background-color: rgba(0, 153, 255, 0.6) !important;
  transition: 0.2s;
}
#route { width: auto; }
.formation{ width: 100%; }
#air_raid_enemies { width: 250px; }

.enemy_tool_slot {
  width: 30px;
  text-align: right;
}

.battle_content.is_night {
  background-color: rgba(180, 120, 255, 0.12);
}
.dark-theme .battle_content.is_night {
  background-color: rgba(142, 85, 212, 0.18);
}
.battle_content.is_night .custom-select {
  background-color: rgba(255, 255, 255, 0.8);
}

/* -----------------------------------
  艦載機選択モーダル #modal_plane_select
----------------------------------- */
#plane_filter_key_select { width: 104px; }
#plane_filter_value { width: 56px; }

.toggle_display_type {
  padding: .25rem .5rem .25rem .5rem;
  cursor: pointer;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  outline: 1px solid rgba(128, 128, 128, 0.2);
  border: 1px transparent solid;
  text-shadow: none;
}
.toggle_display_type:hover {
  outline-color: transparent;
  outline-offset: 8px;
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(200, 200, 200, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.toggle_display_type.selected {
  outline-color: transparent;
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(200, 200, 200, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .toggle_display_type:hover { text-shadow: 2px 2px 3px #000; }
.dark-theme .toggle_display_type.selected { text-shadow: 2px 2px 3px #000;}

#plane_table { overflow-y: auto; }

#plane_tbody_wrap,
#plane_tbody:not(.multi_mode) { height: 50vh; }
#plane_tbody.multi_mode {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 992px) { #plane_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr; } }
@media (min-width: 1200px) { #plane_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr 1fr; } }

.ship_type {
  opacity: 0.65;
}
.ship_type.active,
.item_type.active {
  opacity: 1;
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 15px rgba(98, 197, 255, 0.5), 0 0 15px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .ship_type.active,
.dark-theme .item_type.active {
  border-bottom: none;
  border-color: #aaa;
  box-shadow: inset 0 0 15px rgba(240, 240, 240, 0.5), 0 0 15px rgba(240, 240, 240, 0.2);
  text-shadow: 2px 2px 3px #000;
}

.plane_tr_disabled {
  cursor: default;
  color: #ff6b6b;
  border: 1px solid transparent;
  text-shadow: none;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.plane_tr_disabled:hover {
  border-color: #f66;
  box-shadow: inset 0 0 20px rgba(255, 100, 100, 0.5), 0 0 20px rgba(255, 100, 100, 0.2);
  text-shadow: 1px 1px 3px #fff;
}
.dark-theme .plane_tr_disabled:hover { text-shadow: 1px 1px 3px #000; }

.plane_td_basic {
  text-align: right;
  width: 60px;
}
@media (min-width: 992px) { .plane_td_basic { width: 67px; } }

.sortable_td {
  cursor: pointer;
  border: 1px solid transparent;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: 0.3s;
}
.sortable_td.plane_td_name { text-align: left; }
.sortable_td:hover {
  border-color: rgb(98, 197, 255, 0.5);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .sortable_td:hover {
  border-color: rgba(240, 240, 240, 0.5);
  box-shadow: inset 0 0 20px rgba(240, 240, 240, 0.5), 0 0 20px rgba(240, 240, 240, 0.2);
  text-shadow: 2px 2px 3px #000;
}

.sortable_td.active {
  border-color: rgb(98, 197, 255, 0.5);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .sortable_td.active {
  border-color: rgba(240, 240, 240, 0.5);
  box-shadow: inset 0 0 20px rgba(240, 240, 240, 0.5), 0 0 20px rgba(240, 240, 240, 0.2);
  text-shadow: 2px 2px 3px #000;
}

/* 特殊機銃とか */
.special_item { color: rgb(50, 152, 65); }
.dark-theme .special_item { color: rgb(100, 200, 120); }

.plane_td_name {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
  width: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plane_tr_disabled .plane_td_name { color: #ff6b6b; }

.plane_td_stock {
  color: #ff4400;
  font-size: 11px;
}
.plane_td_remodel { font-size: 12px; }
.tr_multi {
  padding-top: .15rem;
  padding-bottom: .15rem;
}
.type_divider {
  display: flex;
  grid-column: 1 / -1;
}

/* --------------------------------
  艦娘選択モーダル #modal_ship_select
-------------------------------- */
#ship_table { overflow-y: auto; }

#ship_tbody_wrap,
#ship_tbody:not(.multi_mode) { height: 54vh; }
#ship_tbody.multi_mode { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ship_td_slot {
  text-align: center;
  width: 35px;
}
@media (min-width: 992px) { 
  #ship_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr; }
  .ship_td_slot { width: 64px; }
}
@media (min-width: 1200px) { 
  #ship_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr 1fr; } 
}

.ship_tr {
  padding: 0.05rem;
}

.ship_tr .exist_area {
  position: relative;
}
.ship_tr .area_banner {
  position: absolute;
  top: 0px;
  left: 24px;
  height: 38px;
  width: auto;
}

.ship_td_stock {
  color: #ff4400;
  font-size: 10px;
}
.ship_tr_disabled {
  cursor: default;
  color: #ff6b6b;
  border: 1px solid transparent;
  text-shadow: none;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.ship_tr_disabled:hover {
  border-color: #f66;
  box-shadow: inset 0 0 20px rgba(255, 100, 100, 0.5), 0 0 20px rgba(255, 100, 100, 0.2);
  text-shadow: 1px 1px 3px #fff;
}
.dark-theme .ship_tr_disabled:hover { text-shadow: 1px 1px 3px #000; }

/* ----------------------------------
  敵艦選択モーダル #modal_enemy_select
------------------------------------ */
#enemy_table { overflow-y: auto; }
#enemy_tbody { max-height: 58vh; }
.enemy_td_ap {
  text-align: center;
  width: 78px;
}

@media (max-width: 991px) {
  .tr_multi {
    width: 226px;
  }
  .enemy_tr_multi {
    width: 226px;
  }
}
@media (min-width: 992px) {
  .enemy_tr_multi {
    width: 248px;
  }
}
@media (min-width: 1200px) {
  .enemy_tr_multi {
    width: 306px;
  }
}

/* ------------------------------
  プリセットモーダル 共通
-------------------------------- */
.btn_create_preset > div {
  display: table-cell;
  vertical-align: middle;
}
.preset_tbody{ height: 340px; }
.preset_tr { width: 100%; }
.preset_selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.4), 0 0 20px rgba(98, 197, 255, 0.1);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .preset_selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px #000;
}
.preset_td {
  -ms-flex-item-align: center;
  align-self: center;
}
.preset_name { font-size: 12px; }
.btn_create_preset {
  height: 30px;
  width: 100%;
  display: table;
  cursor: pointer;
  outline: 1px solid #888;
  border: 1px transparent solid;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn_create_preset.preset_selected {
  outline: 1px solid rgb(98, 197, 255);
  border-color: transparent;
}
.dark-theme .btn_create_preset.preset_selected{ outline: 1px solid #ccc; }
.btn_create_preset:not(.preset_selected):hover {
  outline-color: transparent;
  outline-offset: 12px;
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(200, 200, 200, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .btn_create_preset:not(.preset_selected):hover { text-shadow: 2px 2px 3px #000; }


/* ---------------------------------------
  機体プリセットモーダル #modal_plane_preset
----------------------------------------- */
.preset_preview_tr { height: 52px; }
.preset_preview_tr > div {
  -ms-flex-item-align: center;
  align-self: center;
}
.preset_preview_td_type { width: 30px; }


/* ---------------------------------------
  編成プリセットモーダル #modal_main_preset
----------------------------------------- */
#preset_remarks {
  height: calc( 1.4em * 4 );
  max-height: calc( 1.4em * 6 );
  min-height: calc( 1.4em * 2 );
  line-height: 1.3;
}


/* -----------------------------------
  海域選択モーダル #modal_enemy_pattern
------------------------------------- */
#select_difficulty_div { width: 160px; }
#map_img {
  width: 466px;
  height: 267px;
  user-select: none;
}
#btn_zoom_map {
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  left: 30px;
  opacity: 0.6;
  transition: 0.2s;
  font-size: 36px;
  color: #000;
  text-shadow: 0px 0px 4px #fff;
}
@media (max-width: 600px) {
  #btn_zoom_map {
    display: none !important;
  }
}
#btn_zoom_map:hover {
  opacity: 1;
  text-shadow: 0px 0px 15px #fff;
}
#modal_big_map {
  padding-right: 2rem;
  padding-left: 2rem;
}
#modal_big_map .modal-lg {
  max-width: 1178px;
}
#big_map_img {
  width: 100%;
  max-width: 1160px;
  height: auto;
}

#node_tbody{
  height: 352px;
  width: 80px;
}
.node_tr { width: 100%; }
.node_selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.4), 0 0 20px rgba(98, 197, 255, 0.1);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .node_selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px #000;
}
#enemy_pattern_info .d-flex > div:not(.enemy_pattern_tr) {
  -ms-flex-item-align: center;
  align-self: center;
}
#enemy_pattern_tbody { height: 244px; }
.enemy_pattern_tr {
  height: 40px;
}
.node { cursor: pointer; }
.enemy_img {
  height: 38px;
  width: 152px;
}

/* ------------------------------
  一括変更欄 #modal_collectively_setting
-------------------------------- */
.coll_slot_input { width: 72px; }
.btn_prof {
  cursor: pointer;
  width: 20px;
  height: 30px;
  transition: .2s;
}
.btn_remodel {
  cursor: pointer;
  font-size: 12px;
  border-radius: .25rem;
  transition: .2s;
  padding: 7px 4px;
}
.btn_remodel:hover { background-color: rgba(128, 128, 128, 0.3); }


/* ------------------------------
  結果表示 #result
-------------------------------- */
#result_grid {
  grid-template-columns: 1fr;
  display: grid;
}
@media (min-width: 1800px) {
  #main:not(.reduced) #result_grid {
    grid-template-columns: 1.2fr 1fr;
    padding-bottom: .3rem !important;
  }
  #main:not(.reduced) #result_grid > div {
    padding-left: .3rem !important;
    padding-right: .3rem !important;
  }
}

#shoot_down_table {
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
  border-collapse: collapse;
}
#shoot_down_table_tbody td { padding: 0.1rem; }
#shoot_down_table_tfoot td { padding: 0.1rem; }
#shoot_down_table .td_name {
  cursor: default;
  width: 78px;
}
#shoot_down_table .td_plane_name {
  cursor: pointer;
  font-size: 11px;
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 760px) {
  #shoot_down_table .td_name { width: 100px; }
  #shoot_down_table .td_plane_name { width: 150px; }
}
@media (min-width: 1200px) {
  #shoot_down_table .td_name { width: 130px; }
  #shoot_down_table .td_plane_name { width: 180px; }
}
@media (min-width: 1800px) {
  #shoot_down_table .td_name { width: 100px; }
  #shoot_down_table .td_plane_name { width: 150px; }
}
@media (min-width: 2000px) {
  #shoot_down_table .td_name { width: 130px; }
  #shoot_down_table .td_plane_name { width: 180px; }
}
.capturing #shoot_down_table .td_name { width: 130px; }
.capturing #shoot_down_table .td_plane_name { width: 180px; }

#shoot_down_table_tbody td{ border-top:1px rgba(128, 128, 128, 0.2) solid; }
#shoot_down_table_tbody .td_plane_name { text-align: left; }
#shoot_down_table .td_battle { max-width: 120px; }
#shoot_down_table_tbody .td_battle { cursor: pointer; }
#shoot_down_table .battle1 { border-left: 1px rgba(128, 128, 128, 0.502) solid; }
#shoot_down_table .tr_fap td{ border-top:1px rgba(128, 128, 128, 0.502) solid; }

/* 消費予測ヘッダー */
#shoot_down_table .fap.battle_end {
  background-color: rgba(128, 128, 128, 0.2);
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
/* 消費予測レコード */
#shoot_down_table .eap.battle_end { border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
#shoot_down_table .tr_eap td{ border-top:1px rgba(128, 128, 128, 0.2) solid; }
/* 制空状態表示 */
#shoot_down_table .tr_cond td{
  border-top:1px rgba(128, 128, 128, 0.502) solid;
  border-bottom:1px rgba(128, 128, 128, 0.502) solid;
}
.progress_area { cursor: pointer; }
.progress_label {
  opacity: 0.9;
  text-align: right;
  font-size: 12px;
  width: 90px;
}
.result_bar {
  font-size: 11px;
  text-align: right;
}
/* 制空状態ゲージ 凡例 */
.bar_ex_label {
  text-align: center;
  border-bottom: 1px solid rgb(128, 128, 128);
  font-size: 11px;
}
.bar_divide {
  height: 8px;
  border-left:1px solid rgb(128, 128, 128);
  -ms-flex-item-align: end!important;
  align-self: flex-end!important;
}
.result_bar_ex { height: 4px; }
/* 制空状態割合テーブル */
#rate_table {
  font-size: 12px;
  border-collapse: collapse;
}
#rate_table thead td:not(.rate_td_eap) { padding-right: .6rem; }
#rate_table thead td.rate_td_ap { padding-right: .2rem; }
#rate_table thead td.rate_td_eap { padding-right: .3rem; }
#rate_table tbody td {
  padding-top: .1rem;
  padding-bottom: .1rem;
  padding-right: .3rem;
  padding-left: .3rem;
  border-top:1px rgba(128, 128, 128, 0.2) solid;
}
.rate_tr { transition: .15s; }
.rate_td_name {
  width: 15%;
  text-align: center;
}
.rate_td_normal {
  width: 10%;
  text-align: right;
}
.rate_td_eap { text-align: right; }
.rate_tr_border_top > td { border-top: 1px rgba(128, 128, 128, 0.502) solid !important; }
.rate_tr_border_bottom > td { border-top: 1px rgba(128, 128, 128, 0.502) solid !important; }
#rate_row_7 { border-bottom: 1px rgba(128, 128, 128, 0.502) solid !important; }
#rate_row_8 { border-bottom: 1px rgba(128, 128, 128, 0.502) solid !important; }
.capturing .eap_border { display: inline !important; }

#enemy_shoot_down_table {
  font-size: 12px;
  border-collapse: collapse;
}
#enemy_shoot_down_table thead td:not(.td_detail_slot, .td_all_dead, .td_plane_name, .td_name) { text-align: right; }
#enemy_shoot_down_table thead td.td_detail_slot { text-align: center; }
#enemy_shoot_down_table td.td_all_dead { text-align: center; }
#enemy_shoot_down_table tbody td {
  cursor: default;
  padding: .1rem;
  border-top:1px rgba(128, 128, 128, 0.2) solid;
  text-align: right;
}
#enemy_shoot_down_tbody .td_plane_name {
  text-align: center;
  font-size: 11px;
}
#enemy_shoot_down_tbody td{ border-top:1px rgba(128, 128, 128, 0.2) solid; }
#enemy_shoot_down_tbody tr:last-child{ border-bottom:1px rgba(128, 128, 128, 0.502) solid; }
#enemy_shoot_down_tbody .last_slot { border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
#enemy_shoot_down_tbody .td_name {
  width: 80px;
  text-align: center;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#enemy_shoot_down_tbody .td_plane_name {
  width: 80px;
  text-align: left;
  border-right: 1px rgba(128, 128, 128, 0.502) solid;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 760px) {
  #enemy_shoot_down_tbody .td_name { width: 160px; }
  #enemy_shoot_down_tbody .td_plane_name { width: 120px; }
}
@media (min-width: 1200px) {
  #enemy_shoot_down_tbody .td_plane_name { width: 160px; }
}
.capturing #enemy_shoot_down_tbody .td_name { width: 160px; }
.capturing #enemy_shoot_down_tbody .td_plane_name { width: 160px; }

.td_detail_slot { cursor: pointer !important; }
#enemy_shoot_down_tbody .td_detail_slot {
  text-align: center;
  opacity: 0.5;
  transition: .4s;
}
#enemy_shoot_down_tbody .td_detail_slot:hover { opacity: 1; }

/* ------------------------------
  詳細設定 #config
-------------------------------- */
#calculate_count { width: 96px; }
#init_prof_parent .prof_select { height: 24px; }


/* ------------------------------
  計算詳細 #modal_result_detail
-------------------------------- */
#modal_result_detail .tab-content > div { 
  width: 100%;
} 
@media (min-width: 1200px) {
  #result_detail_select { display: none; }
  #modal_result_detail .modal-dialog { max-width: 1100px; }
  #modal_result_detail .tab-content > div { 
    display: block !important;
    opacity: 1;
    width: 50%;
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

#stage3_slot { width: 5em; }

#detail_table,
#land_base_detail_table,
#stage3_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#detail_table td,
#land_base_detail_table td { padding: 0.2rem; }
#stage3_table td {
  transition: 0.2s;
  border-bottom: 1px rgba(128, 128, 128, 0.4) solid;
}
#stage3_table tr:hover { background-color: rgba(128, 128, 128, 0.1); }
#stage3_table tr.tr_death { background-color: rgba(0, 150, 255, 0.075) !important; }
#stage3_table tr.tr_death:hover { background-color: rgba(0, 150, 255, 0.15) !important; }
#stage3_table tr.tr_damaged { background-color: rgba(255, 10, 10, 0.075) !important; }
#stage3_table tr.tr_damaged:hover { background-color: rgba(255, 10, 10, 0.15) !important; }
#stage3_table tr.tr_half_damaged { background-color: rgba(255, 255, 10, 0.075) !important; }
#stage3_table tr.tr_half_damaged:hover { background-color: rgba(255, 255, 10, 0.15) !important; }

#detail_calculate_count { width: 120px; }
.detail_plane_row { transition: .2s; }
.btn_show_detail.selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .btn_show_detail.selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  text-shadow: 2px 2px 3px #000;
}

.disabled_detail_slot { opacity: 0.6; }
.detail_item_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.enemy_img_sm {
  height: 30px;
  width: 120px;
}
.enemy_hp,
.enemy_armor { width: 50px; }
#ship_bonus { width: 70px; }

.w_12 { width: 12%; }
.h_20 { height: 20px; }

#target_enemy { width: 80px; }

/* ------------------------------
  stage2詳細 #modal_stage2_detail
-------------------------------- */
#stage2_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#stage2_table tbody td {
  padding: .1rem;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
#stage2_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }
.stage2_table_death { background-color: rgba(255, 10, 10, 0.1) !important; }
.stage2_table_death:hover { background-color: rgba(255, 10, 10, 0.2) !important; }
.stage2_table_half { background-color: rgba(255, 255, 10, 0.1) !important; }
.stage2_table_half:hover { background-color: rgba(255, 255, 10, 0.2) !important; }
#stage2_detail_slot { width: 120px; }
#free_modify input[type="number"] { width: 100px; }


/* ------------------------------
  触接詳細 #modal_contact_detail
-------------------------------- */
.detail_contact_chart_parent {
  position: relative;
  width: 50%;
  padding: 0 1rem;
}
.detail_contact_rate {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  text-align: center;
  /* -webkit-transform: translateY(-50%);
  transform: translateY(-50%); */
}
#contact_chart_120 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgb(100, 180, 255, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
#contact_chart_117 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(80, 220, 120, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
#contact_chart_112 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(255, 160, 100, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
#contact_chart_100 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(128, 128, 128, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
.detail_contact_chart_parent canvas {
  position: relative;
  z-index: 1;
}
.contact_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.contact_table tbody td {
  font-size: 12px;
  padding: .1rem;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
.contact_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }


/* ------------------------------
  対空砲火入力欄 #modal_fleet_antiair_input
-------------------------------- */
#antiair_input_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#antiair_input_table td {
  padding-right: .5rem;
  text-align: right;
}
#antiair_input_table tbody td {
  height: 36px;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
#antiair_input_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }

#antiair_cutin_inputs .general_tr { height: 36px; }
#antiair_cutin_inputs .general_tr div {
  -ms-flex-item-align: center;
  align-self: center;
}
#antiair_cutin_inputs .general_tr.disabled {
  opacity: 0.4;
}

#fleet_antiair { width: 100px; }


/* ------------------------------
  サイトについて #site_information
-------------------------------- */
.text_existTooltip {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}


/* ------------------------------
  仮想敵艦 #manage_manual_data
-------------------------------- */
#enemy_slot_info .d-flex > div,
.manual_enemy_slot > div {
  -ms-flex-item-align: center;
  align-self: center;
}

#enemy_slot_info legend {
  font-size: 1em;
  margin-bottom: 0;
}
.manual_enemy_ap { 
  text-align: right;
  width: 40px; 
}
.enemy_slot {
  width: 80px;
  -ms-flex-item-align: center;
  align-self: center;
}

.manual_enemy_tr > div {
  -ms-flex-item-align: center;
  align-self: center;
}

.manual_enemy_head { width: 40%; }
.manual_enemy_slots { width: 50%; }
.manual_enemy_ap_td,
.manual_enemy_aaw_td,
.manual_enemy_aabo_td {
  text-align: center;
  width: 10%; 
}

.manual_enemy_slot_count {
  width: 24px;
  font-size: 12px;
  text-align: right;
}

/* ------------------------------
  編成メモ欄 #modal_preset_memo
-------------------------------- */
#preset_memo_view {
  white-space: pre-wrap;
}

#preset_memo {
  resize: none;
}

/* ------------------------------
  保留リスト #modal_reserve_ship
-------------------------------- */
#current_ship_info_parent,
#reserve_list {
  grid-template-columns: 1fr;
  display: grid;
  margin: 5rem 1rem;
}
@media (min-width: 992px) {
  #current_ship_info_parent,
  #reserve_list {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  #current_ship_info_parent,
  #reserve_list {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}

#current_ship_info,
.reserve_ship {
  border-radius: .25rem;
  border: 1px solid #dee2e6;
}
.dark-theme #current_ship_info,
.dark-theme .reserve_ship { border: 1px #6c757d solid; }
.reserve_ship:hover {
  border-color: rgb(98, 197, 255);
}
.dark-theme .reserve_ship:hover {
  border-color: #ccc;
}
.reserve_long_text {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reserve_remodel { width: 40px; }


/* ------------------------------
  取り込み選択 #modal_deck_selector
-------------------------------- */
.fleet_selectable {
  border-radius: .25rem;
  border: 1px solid #dee2e6;
  transition: all .3s cubic-bezier(0.2, 1, 0.2, 1);
  user-select: none;
}
.dark-theme .fleet_selectable { border: 1px #6c757d solid; }

.fleet_selectable:hover { border-color: rgb(98, 197, 255); }
.dark-theme .fleet_selectable:hover { border-color: #ccc; }

.fleet_selectable.selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.4), 0 0 20px rgba(98, 197, 255, 0.1);
  text-shadow: 2px 2px 3px #fff;
  background-color: rgba(109, 214, 255, 0.2);
}
.dark-theme .fleet_selectable.selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px #000;
  background-color: rgba(230, 248, 255, 0.15);
}

.fleet_selectable i {
  opacity: 0.5;
  font-size: 1.2em;
}
.fleet_selectable i.fa-checkbox-unchecked { display: inline; }
.fleet_selectable i.fa-checkbox-checked { display: none; }

.fleet_selectable.selected i.fa-checkbox-unchecked { display: none; }
.fleet_selectable.selected i.fa-checkbox-checked {
  display: inline;
  color: rgb(0, 154, 255);
  opacity: 1;
}
.dark-theme .fleet_selectable.selected i.fa-checkbox-checked { color: rgb(56, 135, 255); }

.fleet_selectable.disabled {
  opacity: 0.4;
  cursor: default;
}
.fleet_selectable .ship_image { margin: 0.15rem; }

/* ------------------------------
  おまけ #modal_reference
-------------------------------- */
#modal_reference table tr:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
#modal_reference table td {
  text-align: right;
  padding: 0.15rem 0.4rem;
  border: 1px rgba(128, 128, 128, 0.502) solid;
}
#modal_reference thead td {
  text-align: center;
  font-size: 12px;
  padding: 0.3rem 0.6rem;
}
#modal_reference table td.left_border {
  border-left: 2px rgba(128, 128, 128, 0.502) solid;
}

/* ------------------------------
  画面固定ボタン
-------------------------------- */
#fixed_btns {
  position:fixed;
  bottom: 60px;
  margin-left: calc(100% - 46px);
  font-size: 20px;
}
#fixed_btns .sub_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: .2s;
  cursor: pointer;
}
#fixed_btns .sub_btn {
  height: 42px;
  width: 42px;
  border-radius: 100%;
}

.sub_btn.menu,
.sub_btn.undo,
.sub_btn.redo,
.sub_btn.save { box-shadow: inset 0 0 20px rgba(164, 164, 164, 0.8); }

.sub_btn.menu:hover,
.sub_btn.save:hover,
.sub_btn.undo:not(.disabled):hover,
.sub_btn.redo:not(.disabled):hover {
  color: #fff;
  background-color: rgb(128, 128, 128);
  box-shadow: 0 0 20px rgba(164, 164, 164, 0.2), inset 0 0 20px rgba(164, 164, 164, 0.8);
}

.sub_btn.memo { box-shadow: inset 0 0 20px rgba(0, 132, 255, 0.8); }
.sub_btn.memo:hover {
  color: #fff;
  background-color: rgb(0, 132, 255);
  box-shadow: 0 0 20px rgba(0, 132, 255, 0.2), inset 0 0 20px rgba(0, 132, 255, 0.8);
}

.sub_btn.share { box-shadow: inset 0 0 20px rgba(0, 184, 60, 0.8); }
.sub_btn.share:hover {
  color: #fff;
  background-color: rgb(0, 184, 60);
  box-shadow: 0 0 20px rgba(0, 184, 60, 0.2), inset 0 0 20px rgba(0, 184, 60, 0.8);
}

.sub_btn.undo,
.sub_btn.redo { font-size: 24px; }
.sub_btn.undo.disabled,
.sub_btn.redo.disabled {
  cursor: default !important;
  opacity: 0.2;
}

.sub_btn.go_back { box-shadow: inset 0 0 20px rgba(255, 128, 128, 0.8); }
.sub_btn.go_back:hover {
  color: #fff;
  background-color: rgb(255, 128, 128);
  box-shadow: 0 0 20px rgba(255, 128, 128, 0.2), inset 0 0 20px rgba(255, 128, 128, 0.8);
}


/* ------------------------------
  カラー
-------------------------------- */
img[src *= "prof0"]:hover { filter: drop-shadow(0 0 3px rgba(190, 190, 190, 0.5)); }
img[src *= "prof7"]:hover, img[src *= "prof6"]:hover, img[src *= "prof5"]:hover, img[src *= "prof4"]:hover {
  filter: drop-shadow(0 0 3px #fd0);
}
img[src *= "prof3"]:hover, img[src *= "prof2"]:hover, img[src *= "prof1"]:hover {
  filter: drop-shadow(0 0 3px #64b4ff);
}
.css_fighter,
.dark-theme .css_fighter {
  border: 2px rgb(100, 200, 120) solid;
  box-shadow: inset 0 0 20px rgba(0, 255, 100, 0.25);
}
.css_fighter:hover {
  box-shadow: inset 0 0 20px rgba(0, 255, 100, 0.5), 0 0 20px rgba(0, 255, 100, 0.2);
}
.capturing .css_fighter {
  background-color: rgba(0, 255, 100, 0.08);
}
.css_torpedo_bomber,
.dark-theme .css_torpedo_bomber {
  border: 2px rgb(100, 190, 255) solid;
  box-shadow: inset 0 0 20px rgba(0, 190, 255, 0.25);
}
.css_torpedo_bomber:hover {
  box-shadow: inset 0 0 20px rgba(0, 190, 255, 0.5), 0 0 20px rgba(0, 190, 255, 0.2);
}
.capturing .css_torpedo_bomber {
  background-color: rgba(0, 190, 255, 0.08);
}
.css_dive_bomber,
.dark-theme .css_dive_bomber {
  border: 2px rgb(247, 110, 110) solid;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.25);
}
.css_dive_bomber:hover {
  box-shadow: inset 0 0 20px rgba(255, 80, 80, 0.5), 0 0 20px rgba(255, 80, 80, 0.2);
}
.capturing .css_dive_bomber {
  background-color: rgba(255, 80, 80, 0.08);
}
.css_cb_reconnaissance,
.dark-theme .css_cb_reconnaissance {
  border: 2px rgb(255, 200, 10) solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 70, 0.25);
}
.css_cb_reconnaissance:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 70, 0.5), 0 0 20px rgba(255, 255, 70, 0.2);
}
.capturing .css_cb_reconnaissance {
  background-color: rgba(255, 255, 70, 0.08);
}
.css_lb_reconnaissance,
.dark-theme .css_lb_reconnaissance {
  border: 2px rgb(255, 136, 0) solid;
  box-shadow: inset 0 0 20px rgba(255, 136, 0, 0.25);
}
.css_lb_reconnaissance:hover {
  box-shadow: inset 0 0 20px rgba(255, 136, 0, 0.5), 0 0 20px rgba(255, 136, 0, 0.2);
}
.capturing .css_lb_reconnaissance {
  background-color: rgba(255, 136, 0, 0.08);
}
.css_sp,
.dark-theme .css_sp {
  border: 2px rgb(140, 205, 150) solid;
  box-shadow: inset 0 0 20px rgba(86, 255, 122, 0.25);
}
.css_sp:hover {
  box-shadow: inset 0 0 20px rgba(86, 255, 122, 0.5), 0 0 20px rgba(86, 255, 122, 0.2);
}
.capturing .css_sp {
  background-color: rgba(86, 255, 122, 0.08);
}
.css_lb_attack_aircraft,
.dark-theme .css_lb_attack_aircraft {
  border: 2px rgb(60, 170, 30) solid;
  box-shadow: inset 0 0 20px rgba(53, 199, 17, 0.25);
}
.css_lb_attack_aircraft:hover {
  box-shadow: inset 0 0 20px rgba(40, 200, 0, 0.5), 0 0 20px rgba(40, 200, 0, 0.2);
}
.capturing .css_lb_attack_aircraft {
  background-color: rgba(40, 200, 0, 0.08);
}
.css_lb_fighter,
.dark-theme .css_lb_fighter {
  border: 2px rgb(150, 230, 165) solid;
  box-shadow: inset 0 0 20px rgba(36, 255, 91, 0.25);
}
.css_lb_fighter:hover {
  box-shadow: inset 0 0 20px rgba(36, 255, 91, 0.5), 0 0 20px rgba(36, 255, 91, 0.2);
}
.capturing .css_lb_fighter {
  background-color: rgba(36, 255, 91, 0.08);
}
.css_lb_asw_aircraft,
.dark-theme .css_lb_asw_aircraft {
  border: 2px rgb(110, 135, 205) solid;
  box-shadow: inset 0 0 20px rgba(0, 110, 255, 0.25);
}
.css_lb_asw_aircraft:hover {
  box-shadow: inset 0 0 20px rgba(0, 110, 255, 0.5), 0 0 20px rgba(0, 110, 255, 0.2);
}
.capturing .css_lb_asw_aircraft {
  background-color: rgba(0, 110, 255, 0.08);
}
.css_cb_night_aircraft,
.dark-theme .css_cb_night_aircraft {
  border: 2px rgb(130, 130, 180) solid;
  box-shadow: inset 0 0 20px rgba(122, 98, 255, 0.25);
}
.css_cb_night_aircraft:hover {
  box-shadow: inset 0 0 20px rgba(122, 98, 255, 0.5), 0 0 20px rgba(122, 98, 255, 0.2);
}
.capturing .css_cb_night_aircraft {
  background-color: rgba(122, 98, 255, 0.08);
}

/* 艦載機以外 */
.css_radar,
.dark-theme .css_radar {
  border: 2px rgb(210, 120, 20) solid;
  box-shadow: inset 0 0 20px rgba(210, 120, 20, 0.25);
}
.css_radar:hover {
  box-shadow: inset 0 0 20px rgba(210, 120, 20, 0.5), 0 0 20px rgba(210, 120, 20, 0.2);
}
.capturing .css_radar {
  background-color: rgba(210, 120, 20, 0.08);
}

.css_sonar,
.dark-theme .css_sonar {
  border: 2px rgb(128, 216, 255) solid;
  box-shadow: inset 0 0 20px rgba(128, 216, 255, 0.25);
}
.css_sonar:hover {
  box-shadow: inset 0 0 20px rgba(128, 216, 255, 0.5), 0 0 20px rgba(128, 216, 255, 0.2);
}
.capturing .css_sonar {
  background-color: rgba(128, 216, 255, 0.08);
}

.css_recover,
.dark-theme .css_recover {
  border: 2px rgb(196, 196, 196) solid;
  box-shadow: inset 0 0 20px rgba(196, 196, 196, 0.25);
}
.css_recover:hover {
  box-shadow: inset 0 0 20px rgba(196, 196, 196, 0.5), 0 0 20px rgba(196, 196, 196, 0.2);
}
.capturing .css_recover {
  background-color: rgba(196, 196, 196, 0.08);
}

.css_ammo,
.dark-theme .css_ammo {
  border: 2px rgb(255, 125, 125) solid;
  box-shadow: inset 0 0 20px rgba(255, 125, 125, 0.25);
}
.css_ammo:hover {
  box-shadow: inset 0 0 20px rgba(255, 125, 125, 0.5), 0 0 20px rgba(255, 125, 125, 0.2);
}
.capturing .css_ammo {
  background-color: rgba(255, 125, 125, 0.08);
}

.css_wg,
.dark-theme .css_wg {
  border: 2px rgb(255, 55, 55) solid;
  box-shadow: inset 0 0 20px rgba(255, 55, 55, 0.25);
}
.css_wg:hover {
  box-shadow: inset 0 0 20px rgba(255, 55, 55, 0.5), 0 0 20px rgba(255, 55, 55, 0.2);
}
.capturing .css_wg {
  background-color: rgba(255, 55, 55, 0.08);
}

.css_mihari,
.dark-theme .css_mihari {
  border: 2px rgb(190, 240, 150) solid;
  box-shadow: inset 0 0 20px rgba(190, 240, 150, 0.25);
}
.css_mihari:hover {
  box-shadow: inset 0 0 20px rgba(190, 240, 150, 0.5), 0 0 20px rgba(190, 240, 150, 0.2);
}
.capturing .css_mihari {
  background-color: rgba(190, 240, 150, 0.08);
}

.css_kousha,
.dark-theme .css_kousha {
  border: 2px rgb(135, 150, 75) solid;
  box-shadow: inset 0 0 20px rgba(135, 150, 75, 0.25);
}
.css_kousha:hover {
  box-shadow: inset 0 0 20px rgba(135, 150, 75, 0.5), 0 0 20px rgba(135, 150, 75, 0.2);
}
.capturing .css_kousha {
  background-color: rgba(135, 150, 75, 0.08);
}

.css_armor,
.dark-theme .css_armor {
  border: 2px rgb(150, 125, 175) solid;
  box-shadow: inset 0 0 20px rgba(150, 125, 175, 0.25);
}
.css_armor:hover {
  box-shadow: inset 0 0 20px rgba(150, 125, 175, 0.5), 0 0 20px rgba(150, 125, 175, 0.2);
}
.capturing .css_armor {
  background-color: rgba(150, 125, 175, 0.08);
}

.css_wrench,
.dark-theme .css_wrench {
  border: 2px rgb(205, 165, 100) solid;
  box-shadow: inset 0 0 20px rgba(205, 165, 100, 0.25);
}
.css_wrench:hover {
  box-shadow: inset 0 0 20px rgba(205, 165, 100, 0.5), 0 0 20px rgba(205, 165, 100, 0.2);
}
.capturing .css_wrench {
  background-color: rgba(205, 165, 100, 0.08);
}

.css_light,
.dark-theme .css_light {
  border: 2px rgb(240, 130, 60) solid;
  box-shadow: inset 0 0 20px rgba(240, 130, 60, 0.25);
}
.css_light:hover {
  box-shadow: inset 0 0 20px rgba(240, 130, 60, 0.5), 0 0 20px rgba(240, 130, 60, 0.2);
}
.capturing .css_light {
  background-color: rgba(240, 130, 60, 0.08);
}

.css_light_ammo,
.dark-theme .css_light_ammo {
  border: 2px rgb(255, 155, 0) solid;
  box-shadow: inset 0 0 20px rgba(255, 155, 0, 0.25);
}
.css_light_ammo:hover {
  box-shadow: inset 0 0 20px rgba(255, 155, 0, 0.5), 0 0 20px rgba(255, 155, 0, 0.2);
}
.capturing .css_light_ammo {
  background-color: rgba(255, 155, 0, 0.08);
}

.css_shirei,
.dark-theme .css_shirei {
  border: 2px rgb(140, 120, 170) solid;
  box-shadow: inset 0 0 20px rgba(140, 120, 170, 0.25);
}
.css_shirei:hover {
  box-shadow: inset 0 0 20px rgba(140, 120, 170, 0.5), 0 0 20px rgba(140, 120, 170, 0.2);
}
.capturing .css_shirei {
  background-color: rgba(140, 120, 170, 0.08);
}

.css_tank,
.dark-theme .css_tank {
  border: 2px rgb(155, 165, 95) solid;
  box-shadow: inset 0 0 20px rgba(155, 165, 95, 0.25);
}
.css_tank:hover {
  box-shadow: inset 0 0 20px rgba(155, 165, 95, 0.5), 0 0 20px rgba(155, 165, 95, 0.2);
}
.capturing .css_tank {
  background-color: rgba(155, 165, 95, 0.08);
}

.css_supply,
.dark-theme .css_supply {
  border: 2px rgb(95, 195, 155) solid;
  box-shadow: inset 0 0 20px rgba(95, 195, 155, 0.25);
}
.css_supply:hover {
  box-shadow: inset 0 0 20px rgba(95, 195, 155, 0.5), 0 0 20px rgba(95, 195, 155, 0.2);
}
.capturing .css_supply {
  background-color: rgba(95, 195, 155, 0.08);
}

.css_submarine,
.dark-theme .css_submarine {
  border: 2px rgb(160, 190, 225) solid;
  box-shadow: inset 0 0 20px rgba(160, 190, 225, 0.25);
}
.css_submarine:hover {
  box-shadow: inset 0 0 20px rgba(160, 190, 225, 0.5), 0 0 20px rgba(160, 190, 225, 0.2);
}
.capturing .css_submarine {
  background-color: rgba(160, 190, 225, 0.08);
}

.shoot_table_fighter { background-color: rgba(0, 255, 64, 0.1); }
.shoot_table_torpedo_bomber { background-color: rgba(0, 189, 252, 0.1); }
.shoot_table_dive_bomber { background-color: rgba(255, 0, 0, 0.1); }
.shoot_table_cb_reconnaissance { background-color: rgba(255, 255, 80, 0.1); }
.shoot_table_lb_reconnaissance { background-color: rgba(255, 255, 80, 0.1); }
.shoot_table_sp { background-color: rgba(70, 255, 125, 0.1); }
.shoot_table_lb_attack_aircraft { background-color: rgba(0, 190, 48, 0.1); }
.shoot_table_lb_fighter { background-color: rgba(97, 255, 137, 0.1); }
.shoot_table_lb_asw_aircraft { background-color: rgba(34, 104, 255, 0.1); }
.shoot_table_cb_night_aircraft { background-color: rgba(80, 67, 255, 0.1); }
.shoot_table_radar { background-color: rgba(210, 120, 20, 0.1)!important; }
.shoot_table_sonar { background-color: rgba(128, 216, 255, 0.1)!important; }
.shoot_table_recover { background-color: rgba(196, 196, 196, 0.1)!important; }
.shoot_table_ammo { background-color: rgba(255, 125, 125, 0.1)!important; }
.shoot_table_wg { background-color: rgba(255, 55, 55, 0.1)!important; }
.shoot_table_mihari { background-color: rgba(190, 240, 150, 0.1)!important; }
.shoot_table_kousha { background-color: rgba(135, 150, 75, 0.1)!important; }
.shoot_table_armor { background-color: rgba(150, 125, 175, 0.1)!important; }
.shoot_table_wrench { background-color: rgba(205, 165, 100, 0.1)!important; }
.shoot_table_light { background-color: rgba(240, 130, 60, 0.1)!important; }
.shoot_table_light_ammo { background-color: rgba(255, 155, 0, 0.1)!important; }
.shoot_table_shirei { background-color: rgba(140, 120, 170, 0.1)!important; }
.shoot_table_tank { background-color: rgba(155, 165, 95, 0.1)!important; }
.shoot_table_supply { background-color: rgba(95, 195, 155, 0.1)!important; }
.shoot_table_submarine { background-color: rgba(160, 190, 225, 0.1)!important; }

.shoot_table_fighter_hover { background-color: rgba(0, 255, 64, 0.2)!important; }
.shoot_table_torpedo_bomber_hover { background-color: rgba(0, 189, 252, 0.2)!important; }
.shoot_table_dive_bomber_hover { background-color: rgba(255, 0, 0, 0.15)!important; }
.shoot_table_cb_reconnaissance_hover { background-color: rgba(255, 255, 80, 0.2)!important; }
.shoot_table_lb_reconnaissance_hover { background-color: rgba(255, 255, 80, 0.2)!important; }
.shoot_table_sp_hover { background-color: rgba(70, 255, 125, 0.2)!important; }
.shoot_table_lb_attack_aircraft_hover { background-color: rgba(0, 190, 48, 0.2)!important; }
.shoot_table_lb_fighter_hover { background-color: rgba(97, 255, 137, 0.2)!important; }
.shoot_table_lb_asw_aircraft_hover { background-color: rgba(34, 104, 255, 0.2)!important; }
.shoot_table_cb_night_aircraft_hover { background-color: rgba(80, 67, 255, 0.2)!important; }
.shoot_table_radar_hover { background-color: rgba(210, 120, 20, 0.2)!important; }
.shoot_table_sonar_hover { background-color: rgba(128, 216, 255, 0.2)!important; }
.shoot_table_recover_hover { background-color: rgba(196, 196, 196, 0.2)!important; }
.shoot_table_ammo_hover { background-color: rgba(255, 125, 125, 0.2)!important; }
.shoot_table_wg_hover { background-color: rgba(255, 55, 55, 0.2)!important; }
.shoot_table_mihari_hover { background-color: rgba(190, 240, 150, 0.2)!important; }
.shoot_table_kousha_hover { background-color: rgba(135, 150, 75, 0.2)!important; }
.shoot_table_armor_hover { background-color: rgba(150, 125, 175, 0.2)!important; }
.shoot_table_wrench_hover { background-color: rgba(205, 165, 100, 0.2)!important; }
.shoot_table_light_hover { background-color: rgba(240, 130, 60, 0.2)!important; }
.shoot_table_light_ammo_hover { background-color: rgba(255, 155, 0, 0.2)!important; }
.shoot_table_shirei_hover { background-color: rgba(140, 120, 170, 0.2)!important; }
.shoot_table_tank_hover { background-color: rgba(155, 165, 95, 0.2)!important; }
.shoot_table_supply_hover { background-color: rgba(95, 195, 155, 0.2)!important; }
.shoot_table_submarine_hover { background-color: rgba(160, 190, 225, 0.2)!important; }

.airStatus0 { background: linear-gradient(.25turn, transparent, rgba(0, 255, 0, .1), transparent); }
.airStatus1 { background: linear-gradient(.25turn, transparent, rgba(150, 255, 0, .1), transparent); }
.airStatus2 { background: linear-gradient(.25turn, transparent, rgba(255, 255, 0, .1), transparent); }
.airStatus3 { background: linear-gradient(.25turn, transparent, rgba(255, 150, 0, .1), transparent); }
.airStatus4 { background: linear-gradient(.25turn, transparent, rgba(255, 100, 100, .1), transparent); }
.bar_status0 { background-color:rgba(60, 170, 30, 0.45); border:1px solid rgba(60, 170, 30, 0.8); }
.bar_status1 { background-color:rgba(140, 205, 150, 0.45); border:1px solid rgba(140, 205, 150, 0.8); }
.bar_status2 { background-color:rgba(255, 255, 80, 0.45); border:1px solid rgba(255, 255,  0, 0.8); }
.bar_status3 { background-color:rgba(255, 150, 50, 0.45); border:1px solid rgba(255, 150, 50, 0.8); }
.bar_status4 { background-color: rgba(255, 80, 80, 0.45); border:1px solid rgba(255, 80, 80, 0.8); }
.bg_status0 { background-color:rgba(60, 170, 30, 0.4); }
.bg_status1 { background-color:rgba(140, 205, 150, 0.4); }
.bg_status2 { background-color:rgba(255, 255, 20, 0.4); }
.bg_status3 { background-color:rgba(255, 150, 50, 0.4); }
.bg_status4 { background-color: rgba(255, 80, 80, 0.4); }
.bar_ex_status0 { background-color:rgba(60, 170, 30, 0.8); }
.bar_ex_status1 { background-color:rgba(140, 205, 150, 0.8); }
.bar_ex_status2 { background-color:rgba(255, 255, 20, 0.7); }
.bar_ex_status3 { background-color:rgba(255, 150, 50, 0.8); }
.bar_ex_status4 { background-color: rgba(255, 80, 80, 0.8); }


/* ------------------------------
  ローダー
-------------------------------- */
#simulator_loading {
  margin-top: 40vh;
  height: 100vh;
}

/* さんま */
#sanma_parent {
  position: relative;
  cursor: pointer;
  z-index: 1020;
  text-align: center;
  user-select: none;
  animation: 0.5s;
}
#sanma_parent.avoid {
  position: absolute;
}
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.fadeUp2 {
  animation-name: fadeUpAnime2;
  animation-duration: 0.25s;
}
@keyframes fadeUpAnime {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fadeUpAnime2 {
  from { opacity: 0; transform: translateY(-60px); }
  to { opacity: 1; transform: translateY(-20px); }
}
.fadeOut {
  animation-name: fadeOutAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOutAnime {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: scale(3.0, 3.0); }
}