
h1 {
  font-size: 1.65em;
  margin-bottom: 0px;
}
input[type="radio"] { display: none; }
input[type="text"] { font-size: 12px; }

#main { min-height: 100vh; }

#modal_plane_select .modal-content { min-height: 80vh; }
#modal_ship_select .modal-content { min-height: 80vh; }
#modal_enemy_select .modal-content { min-height: 80vh; }
@media (min-width: 577px) { .modal-xl { max-width: 522px; } }
@media (min-width: 992px) { .modal-xl { max-width: 800px; } }
@media (min-width: 1200px) { .modal-xl { max-width: 980px; } }
.tooltip-inner { max-width: 100%; }
.modal-backdrop {
  min-width: 1024px;
  min-height: 960px;
}
.modal-backdrop.show { opacity: .75; }
@media (min-width: 994px) { #lb_tab_select { display: none !important; } }
.fa-archive { color: #ac5300; }


/* -----------------------------------
  ユーティリティ
----------------------------------- */
.bg-dark1 { background: rgb(65, 65, 68) !important; }
.bg-dark2 { background: rgb(40, 40, 43) !important; }
.bg-ddd { background-color: #ddd; }
.bg-ccc { background-color: #ccc; }
.bg-aaa { background-color: #aaa; }
.bg-e9ecef { background-color: #e9ecef; }
.bg-hover { background-color: rgba(128, 128, 128, 0.05); }
.sortable_handle { cursor: move; }
.cur_pointer { cursor: pointer; }
.cur_move { cursor: move; }
.cur_help { cursor: help; }

.img-size-18 {
  width: 18px;
  height: auto;
}
.img-size-20 {
  height: 20px;
  width: auto;
}
.img-size-20_lock {
  height: 20px;
  width: 20px;
}
.img-size-25 {
  width: 25px;
  height: auto;
}
.img-size-30 {
  width: 30px;
  height: auto;
}
.img-size-32 {
  padding-top: 3px;
  width: 32px;
  height: auto;
}
.img-size-36 {
  width: 36px;
  height: auto;
}
.size-25 {
  width: 25px;
  height: 25px;
}
.text_orange { color: rgb(255, 120, 0); }
.text_deep_orange { color: rgb(255, 80, 0); }
.text_red { color: rgb(255, 0, 0); }
.text_remodel { color: rgb(0, 200, 200); }
.min-h-31px { height: 31px }

.general_tr {
  cursor: pointer;
  border: 1px solid transparent;
  text-shadow: none;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.general_tr:hover {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .general_tr:hover {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(240, 240, 240, 0.5), 0 0 20px rgba(240, 240, 240, 0.2);
  text-shadow: 2px 2px 3px #000;
}
.general_tr:active { background-color: rgba(109, 214, 255, 0.5) !important; }
.dark-theme .general_tr:active { background-color: rgba(230, 248, 255, 0.4) !important; }
.tran0 { transition: 0s; }

.col_half{
  text-align: left;
  width: calc(100% / 2);
}
/* -----------------------------------
  カスタムコントロール
----------------------------------- */
.btn_icon {
  width: 18px;
  font-size: 18px;
  transition: 0.4s;
  opacity: 0.5;
}
.btn_icon:hover {
  opacity: 1;
  cursor: pointer;
}
.btn_preset:hover { filter: drop-shadow(0px 0px 4px rgba(255, 185, 120, 0.5)); }
.btn_reset { filter: drop-shadow(0px 0px 4px rgba(128, 128, 128, 0.5)); }
.trade_enabled { cursor: move; }

.capturing {
  display: inline-block;
  font-size: 14px;
}
#landBase.capturing {
  min-width: 1024px;
}
#friendFleet.capturing {
  min-width: 1100px;
}
#result.capturing {
  width: 1000px;
}
#input_data.capturing {
  min-width: 1000px;
}
.general_box_capture{
  border: 1px #ccc solid;
}
.dark-theme .general_box_capture{
  border: 1px #666 solid;
}

.custom-control-input { cursor: pointer; }
.custom-control-label {
  cursor: pointer;
  padding-top: .15rem;
}
.custom-control-label::before { background-color: rgba(255, 255, 255, 0.3); }
.scroll_thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-top: 1px rgba(128, 128, 128, 0.502) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
  background-color: rgb(235, 235, 235);
  font-size: 11px;
  padding-top: .3rem;
  padding-bottom: .3rem;
  z-index: 1;
}
.general_thead td{
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 11px;
  background-color: rgba(128, 128, 138, 0.2);
  border-top: 1px rgba(128, 128, 128, 0.502) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.general_thead_div{
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 11px;
  background-color: rgba(128, 128, 138, 0.2);
  border-top: 1px rgba(128, 128, 128, 0.502) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.progress {
  background-color: rgba(0, 0, 0, 0.1);
  height: 8px;
}


/* -----------------------------------
  sideBar
----------------------------------- */
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  min-width: 140px;
  margin-right: 1rem;
  padding: 60px 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
.sidebar .nav-link {
  padding: .25rem .5rem;
  color: #ccc;
}
.sidebar .nav-link:hover { color: #00ccff; }
.sidebar .nav-link.active { color: #00ccff; }
.sidebar .nav-link .feather { margin-right: 4px; color: #999; }
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather { color: inherit; }
.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}
.disabled_nav {
  cursor: default !important;
  color: #777 !important;
}
.site_title {
  color: #fff;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  height: 48px;
  width: 200px;
}

/* -----------------------------------
  基地航空隊関連 #landBase
----------------------------------- */
.lb_tab { max-width: 460px; }
@media (min-width: 1400px) {
  #main:not(.reduced) .lb_tab { max-width: 540px; }
  #main:not(.reduced) .lb_tab_main {
    padding-right: .3rem;
    padding-left: .3rem;
  }
  #main:not(.reduced) .simple_lb_progress {
    padding-right: .25rem;
    padding-left: .25rem;
  }
}
.lb_infomation {
  font-size: 12px;
  height: 20px;
}
/* 基地札 */
.ohuda_select {
  font-size: 12px;
  width: 82px;
}
/* 制空半径簡易 */
.lb_sammary { font-size: 12px; }

.baseNo {
  font-size: 16px;
}

.baseNo,
.resource,
.lb_infomation > div,
#defense_summary > div {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
/* 必要資材欄 */
.resource {
  cursor: help;
  transition: 0.2s;
}
.resource:hover { cursor: help; }
.resource_img {
  width: 18px;
  height: 18px;
}
/* 基地機体選択欄 */
.lb_plane {
  min-width: 290px;
  border: 2px rgb(180, 180, 180) solid;
  border-radius: .25rem;
  text-shadow: 1px 1px 3px #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
.dark-theme .lb_plane {
  text-shadow: 1px 1px 3px #000;
  border: 2px rgb(128, 128, 128) solid;
  background-color: rgba(60, 65, 75, 0.5);
}
.lb_plane:hover { box-shadow: inset 0 0 20px rgba(128, 128, 128, 0.2); }

.simple_bar { height: 5px; }
.simple_label {
  text-align: center;
  font-size: 11px;
}
.btn_show_contact_rate_lb {
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
}
.btn_show_contact_rate_lb:hover { opacity: 1; }

.btn_toggle_lb_info {
  margin-left: 0.25rem;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.2s;
  user-select: none;
}
.btn_toggle_lb_info:hover {
  opacity: 1.0;
}

/* -----------------------------------
  艦隊関連 #friendFleet
----------------------------------- */
.display_ship_count { width: 60px; }

#main .fleet_tab {
  grid-template-columns: 1fr;
  display: grid;
}
#main .capturing .fleet_tab {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 !important;
}
@media (min-width: 600px) {
  #main .fleet_tab { margin: 0 4rem; }
}
@media (min-width: 760px) {
  #main .fleet_tab {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}
@media (min-width: 1100px) {
  #main .fleet_tab {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}
.ship_name_span {
  cursor: pointer;
}
.ship_name_span::after {
  content: '';
  display: block;
  width: 0;
  border-bottom: 1px solid #777;
  transition: 0.25s ease-in-out;
}
.ship_name_span:hover::after {
  width: 100%;
}

.ship_header > div,
.ship_name_span,
.ship_sumAP {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.ap_detail {
  font-size: 11px;
  opacity: 0.8;
}

/* 艦娘機体選択欄 */
.ship_plane {
  width: 100%;
  border: 2px rgb(180, 180, 180) solid;
  border-radius: 0.25rem;
  text-shadow: 1px 1px 3px #fff;
  background-color: rgba(255, 255, 255, 0.8);
}
.dark-theme .ship_plane {
  text-shadow: 1px 1px 3px #000;
  border: 2px rgb(128, 128, 128) solid;
  background-color: rgba(60, 65, 75, 0.5);
}
.ship_plane:hover { box-shadow: inset 0 0 20px rgba(128, 128, 128, 0.2); }
.ship_img {
  height: 25px;
  width: 100px;
}

.btn_show_contact_rate {
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
}
.btn_show_contact_rate:hover { opacity: 1; }

.btn_antiair_input {
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;
}
.btn_antiair_input:hover { opacity: 1; }

/* -----------------------------------
  機体コントロール関連
----------------------------------- */
.plane_name {
  cursor: pointer;
  border-radius: 0.2rem;
  transition: 0.5s;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}
.plane_name_span {
  font-size: 12px;
  padding-left: 0.25rem;
}
.plane_img_sm {
  width: 22px;
  height: auto;
}
.plane_img {
  width: 30px;
  height: auto;
}
.plane_lock {
  width: 16px;
  cursor: pointer;
  color: #ffa600;
  margin-left: .25rem;
}
.plane_unlock {
  width: 16px;
  cursor: pointer;
  color: #ffa600;
  opacity: .4;
  transition: .4s;
  margin-left: .25rem;
}
.plane_unlock:hover { opacity: 1; }

.lb_plane .col > div,
.ship_plane_draggable > div {
  -ms-flex-item-align: center!important;
  align-self: center!important;
}
.ship_plane_draggable {
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.btn_remove_plane {
  width: 14px;
  cursor: pointer;
  transition: 0.4s;
  opacity: 0.2;
  font-size: 16px;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.btn_remove_plane:hover {
  opacity: .8;
  filter: drop-shadow(0px 0px 4px #787878);
}
.btn_remove_plane_capture {
  opacity: 0 !important;
  transition: 0s !important;
}
.btn_remove_plane > i { font-size: 16px; }
/* 改修関連 */
.remodel_select_parent {
  color: rgb(0, 200, 200);
  width: 34px;
}
.remodel_select{
  cursor: pointer;
  transition: 0.4s;
}
.remodel_disabled {
  cursor: default;
  color: rgb(172, 172, 172) !important;
}
.remodel_select:hover { filter: drop-shadow(0px 0px 6px #0ff); }
.remodel_disabled:hover { filter: drop-shadow(0px 0px 0px #fff); }
.remodel_select_parent .dropdown-menu {
  color: rgb(0, 200, 200);
  min-width: 62px;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.3);
  font-size: 14px;
  padding: 0;
}
.remodel_item {
  cursor: pointer;
  transition: 0.2s;
  padding: .15rem .5rem;
}
.remodel_item:hover { background-color: rgba(128, 128, 128, 0.3); }
.remodel_item:active {
  color: #fff;
  background-color: #00c8c8;
  filter: drop-shadow(0px 0px 6px #0ff);
}
/* 熟練度関連 */
.prof_select {
  cursor: pointer;
  width: 20px;
  border: none;
  color: transparent;
  background-color: transparent;
  transition: 0.4s;
}
.prof_item { transition: 0.4s; }
.prof_opt {
  width: 20px;
  height: 25px;
  transition: 0.4s;
}
.prof_select_parent .dropdown-menu {
  min-width: 48px;
  box-shadow: 0 .1rem 1rem rgba(0,0,0,.3);
  padding: 0;
}
.prof_select_parent .dropdown-item {
  cursor: pointer;
  padding: 1px 5px;
  height: 28px;
  text-align: center;
}
.prof_select_parent .dropdown-item:hover { background-color: rgba(128, 128, 128, 0.3); }
.prof_select_parent .dropdown-item:active { background-color: rgba(128, 128, 128, 0.5); }
/* 搭載数 */
.slot_select_parent{
  display: table;
  width: 20px;
  height: 28px;
  margin-left: 0.25rem;
}
.slot {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: .4s;
}
.slot:hover { filter: drop-shadow(0 0 3px #969696); }
.slot_select_parent .dropdown-menu {
  z-index: 1000;
  width: 240px;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.3)
}

/* 艦載機をドラッグした時のスタイル */
.plane_draggable_hover {
  background-color: rgba(0, 153, 255, 0.4) !important;
  border: 2px #39b0ff solid !important;
  transition: 0.2s;
}

.plane_status_box {
  min-width: 120px;
  max-width: 180px;
}


/* ------------------------------
  敵艦隊関連 #enemyFleet
-------------------------------- */
#battle_count { width: 60px; }
#landBase_target { width: 60px; }
.enemy_content { border-radius: .15rem; }
.enemy_content:hover { background-color: rgba(128, 128, 128, 0.1); }
.no_enemy { opacity: .3; }
.no_enemy:hover { opacity: .6; }

.enemy_content > div,
.enemy_name_img,
.enemy_ap_input {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.enemy_index {
  margin-left: .25rem;
  font-size: 12px;
}
.enemy_name {
  cursor: pointer;
  display: table;
  font-size: 12px;
}
.enemy_name_span {
  display: table-cell;
  vertical-align: middle;
}
.enemy_name_img {
  height: 30px;
  width: 128px;
}
.enemy_name_text {
  min-width: 128px;
  max-width: 158px;
}

.enemy_ap_select_parent {
  width: 24px;
  font-size: 12px;
  text-align: right;
}
.enemy_ap {
  cursor: pointer;
  transition: .4s;
}
.enemy_ap:hover { filter: drop-shadow(0 0 3px #969696); }
/* ドラッグ要素のホバー時 */
.hover_enemy_content {
  background-color: rgba(0, 153, 255, 0.6) !important;
  transition: 0.2s;
}
#route { width: auto; }
.formation{ width: 100%; }
#air_raid_enemies { width: 250px; }


/* -----------------------------------
  艦載機選択モーダル #modal_plane_select
----------------------------------- */
.search_basic{ width: 460px; }
#plane_filter_key_select { width: 104px; }
#plane_filter_value { width: 56px; }

.toggle_display_type {
  padding: .25rem .5rem .25rem .5rem;
  cursor: pointer;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
  outline: 1px solid rgba(128, 128, 128, 0.2);
  border: 1px transparent solid;
  text-shadow: none;
}
.toggle_display_type:hover {
  outline-color: transparent;
  outline-offset: 8px;
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(200, 200, 200, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.toggle_display_type.selected {
  outline-color: transparent;
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(200, 200, 200, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .toggle_display_type:hover { text-shadow: 2px 2px 3px #000; }
.dark-theme .toggle_display_type.selected { text-shadow: 2px 2px 3px #000;}

#plane_table { overflow-y: auto; }
#plane_tbody:not(.multi_mode) { height: 50vh; }
#plane_tbody.multi_mode { 
  max-height: 50vh; 
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 992px) { #plane_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr; } }
@media (min-width: 1200px) { #plane_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr 1fr; } }


.plane_tr_disabled {
  cursor: default;
  color: #ff6b6b;
  border: 1px solid transparent;
  text-shadow: none;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.plane_tr_disabled:hover {
  border-color: #f66;
  box-shadow: inset 0 0 20px rgba(255, 100, 100, 0.5), 0 0 20px rgba(255, 100, 100, 0.2);
  text-shadow: 1px 1px 3px #fff;
}
.dark-theme .plane_tr_disabled:hover { text-shadow: 1px 1px 3px #000; }
.plane_td_basic {
  text-align: center;
  width: 60px;
}
.plane_td_name { max-width: 290px; }
.plane_td_stock {
  color: #ff4400;
  font-size: 10px;
}
.plane_td_remodel {
  color: #00c8c8;
  font-size: 12px;
}
.tr_multi {
  padding-top: .15rem;
  padding-bottom: .15rem;
}
.type_divider {
  display: flex;
  grid-column: 1 / -1;
}

/* --------------------------------
  艦娘選択モーダル #modal_ship_select
-------------------------------- */
#ship_table { overflow-y: auto; }
#ship_tbody { max-height: 58vh; }
#ship_tbody.multi_mode { 
  max-height: 50vh; 
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 992px) { #ship_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr; } }
@media (min-width: 1200px) { #ship_tbody.multi_mode { grid-template-columns: 1fr 1fr 1fr 1fr; } }
.ship_td_slot {
  text-align: center;
  width: 35px;
}
.ship_td_stock {
  color: #ff4400;
  font-size: 10px;
}
.ship_tr_disabled {
  cursor: default;
  color: #ff6b6b;
  border: 1px solid transparent;
  text-shadow: none;
  transition: all .6s cubic-bezier(0.2, 1, 0.2, 1);
}
.ship_tr_disabled:hover {
  border-color: #f66;
  box-shadow: inset 0 0 20px rgba(255, 100, 100, 0.5), 0 0 20px rgba(255, 100, 100, 0.2);
  text-shadow: 1px 1px 3px #fff;
}
.dark-theme .ship_tr_disabled:hover { text-shadow: 1px 1px 3px #000; }

/* ----------------------------------
  敵艦選択モーダル #modal_enemy_select
------------------------------------ */
#enemy_table { overflow-y: auto; }
#enemy_tbody { max-height: 58vh; }
.enemy_td_ap {
  text-align: center;
  width: 78px;
}

@media (max-width: 991px) {
  .tr_multi {
    width: 226px;
  }
  .enemy_tr_multi {
    width: 226px;
  }
}
@media (min-width: 992px) {
  .enemy_tr_multi {
    width: 248px;
  }
}
@media (min-width: 1200px) {
  .enemy_tr_multi {
    width: 306px;
  }
}

/* ------------------------------
  プリセットモーダル 共通
-------------------------------- */
.btn_create_preset > div {
  display: table-cell;
  vertical-align: middle;
}
.preset_tbody{ height: 340px; }
.preset_tr { width: 100%; }
.preset_selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.4), 0 0 20px rgba(98, 197, 255, 0.1);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .preset_selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px #000;
}
.preset_td {
  -ms-flex-item-align: center;
  align-self: center;
}
.preset_name { font-size: 12px; }
.btn_create_preset {
  height: 30px;
  width: 100%;
  display: table;
  cursor: pointer;
  outline: 1px solid #888;
  border: 1px transparent solid;
  text-shadow: none;
  transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn_create_preset.preset_selected {
  outline: 1px solid rgb(98, 197, 255);
  border-color: transparent;
}
.dark-theme .btn_create_preset.preset_selected{ outline: 1px solid #ccc; }
.btn_create_preset:not(.preset_selected):hover {
  outline-color: transparent;
  outline-offset: 12px;
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(200, 200, 200, 0.5), 0 0 20px rgba(200, 200, 200, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .btn_create_preset:not(.preset_selected):hover { text-shadow: 2px 2px 3px #000; }


/* ---------------------------------------
  機体プリセットモーダル #modal_plane_preset
----------------------------------------- */
.preset_preview_tr { height: 52px; }
.preset_preview_tr > div {
  -ms-flex-item-align: center;
  align-self: center;
}
.preset_preview_td_type { width: 30px; }
.preset_preview_td_remodel { color: rgb(0, 200, 200); }


/* ---------------------------------------
  編成プリセットモーダル #modal_main_preset
----------------------------------------- */
#preset_remarks {
  height: calc( 1.4em * 4 );
  max-height: calc( 1.4em * 6 );
  min-height: calc( 1.4em * 2 );
  line-height: 1.3;
}


/* -----------------------------------
  海域選択モーダル #modal_enemy_pattern
------------------------------------- */
#select_difficulty_div { width: 160px; }
#map_img {
  width: 466px;
  height: 267px;
  user-select: none;
}
#node_tbody{
  height: 352px;
  width: 80px;
}
.node_tr { width: 100%; }
.node_selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.4), 0 0 20px rgba(98, 197, 255, 0.1);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .node_selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.4), 0 0 20px rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px #000;
}
#enemy_pattern_info .d-flex > div:not(.enemy_pattern_tr) {
  -ms-flex-item-align: center;
  align-self: center;
}
#enemy_pattern_tbody { height: 244px; }
.enemy_pattern_tr {
  height: 40px;
}
.node { cursor: pointer; }
.enemy_img {
  height: 38px;
  width: 152px;
}

/* ------------------------------
  一括変更欄 #modal_collectively_setting
-------------------------------- */
.coll_slot_input { width: 72px; }
.btn_prof {
  cursor: pointer;
  width: 20px;
  height: 30px;
  transition: .2s;
}
.btn_remodel {
  cursor: pointer;
  font-size: 12px;
  color: rgb(0, 200, 200);
  border-radius: .25rem;
  transition: .2s;
  padding: 7px 4px;
}
.btn_remodel:hover { background-color: rgba(128, 128, 128, 0.3); }


/* ------------------------------
  入力情報欄 #input_data
-------------------------------- */
.info_table {
  font-size: 12px;
  border-collapse: collapse;
}
.info_table tbody td {
  padding: .1rem;
  border-top:1px rgba(128, 128, 128, 0.2) solid;
}
.info_table .info_warning { border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
.info_table .info_name {
  width: 20%;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.info_table .info_plane { text-align: left; }
.info_table .info_slot {
  width: 10%;
  padding: .1rem .25rem;
  border-left:1px rgba(128, 128, 128, 0.2) solid;
}
.info_table .info_ap {
  width: 8%;
  padding: .1rem .25rem;
  border-left:1px rgba(128, 128, 128, 0.2) solid;
}
.info_table .info_sumAp {
  width: 8%;
  padding: .1rem .25rem;
  border-left:1px rgba(128, 128, 128, 0.2) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.info_table .info_range {
  width: 10%;
  border-left:1px rgba(128, 128, 128, 0.2) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.info_table .info_defAp {
  width: 10%;
  border-left:1px rgba(128, 128, 128, 0.2) solid;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
.info_table tbody .last_slot { border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
.info_table tbody .info_fleetAp {
  width: 72px;
  border-left:1px rgba(128, 128, 128, 0.2) solid;
  border-bottom:1px rgba(128, 128, 128, 0.502) solid;
}
#lb_info_table tbody .slot4 td{ border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
#input_summary {
  height: calc( 1.4em * 15 );
  max-height: calc( 1.4em * 20 );
  line-height: 1.3;
}


/* ------------------------------
  結果表示 #result
-------------------------------- */
#shoot_down_table {
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
  border-collapse: collapse;
}
#shoot_down_table_tbody td { padding: 0.1rem; }
#shoot_down_table_tfoot td { padding: 0.1rem; }
#shoot_down_table .td_name {
  cursor: default;
  width: 78px;
}
#shoot_down_table .td_plane_name {
  cursor: pointer;
  font-size: 11px;
  width: 168px;
}
#shoot_down_table_tbody td{ border-top:1px rgba(128, 128, 128, 0.2) solid; }
#shoot_down_table_tbody .td_plane_name { text-align: left; }
#shoot_down_table .td_battle { max-width: 120px; }
#shoot_down_table_tbody .td_battle { cursor: pointer; }
#shoot_down_table .battle1 { border-left: 1px rgba(128, 128, 128, 0.502) solid; }
#shoot_down_table .tr_fap td{ border-top:1px rgba(128, 128, 128, 0.502) solid; }
#shoot_down_table .fap.battle_end {
  background-color: rgba(128, 128, 128, 0.2);
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
#shoot_down_table .eap.battle_end { border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
#shoot_down_table .tr_eap td{ border-top:1px rgba(128, 128, 128, 0.2) solid; }
#shoot_down_table .tr_cond td{
  border-top:1px rgba(128, 128, 128, 0.502) solid;
  border-bottom:1px rgba(128, 128, 128, 0.502) solid;
}
.progress_area { cursor: pointer; }
.progress_label {
  opacity: 0.9;
  text-align: right;
  font-size: 12px;
  width: 90px;
}
.result_bar {
  font-size: 11px;
  text-align: right;
}
/* 制空状態ゲージ 凡例 */
.bar_ex_label {
  text-align: center;
  border-bottom: 1px solid rgb(128, 128, 128);
  font-size: 11px;
}
.bar_divide {
  height: 8px;
  border-left:1px solid rgb(128, 128, 128);
  -ms-flex-item-align: end!important;
  align-self: flex-end!important;
}
.result_bar_ex { height: 4px; }
/* 制空状態割合テーブル */
#rate_table {
  font-size: 12px;
  border-collapse: collapse;
}
#rate_table tbody td {
  padding: .1rem;
  border-top:1px rgba(128, 128, 128, 0.2) solid;
}
.rate_tr { transition: .15s; }
.rate_td_name { width: 12%; }
.rate_td_normal { width: 10%; }
.rate_tr_border_top > td { border-top: 1px rgba(128, 128, 128, 0.502) solid !important; }
.rate_tr_border_bottom > td { border-top: 1px rgba(128, 128, 128, 0.502) solid !important; }
#rate_row_7 { border-bottom: 1px rgba(128, 128, 128, 0.502) solid !important; }
#rate_row_8 { border-bottom: 1px rgba(128, 128, 128, 0.502) solid !important; }

#enemy_shoot_down_table {
  font-size: 12px;
  border-collapse: collapse;
}
#enemy_shoot_down_table tbody td {
  cursor: default;
  padding: .1rem;
  border-top:1px rgba(128, 128, 128, 0.2) solid;
}
#enemy_shoot_down_tbody .td_plane_name { font-size: 11px; }
#enemy_shoot_down_tbody td{ border-top:1px rgba(128, 128, 128, 0.2) solid; }
#enemy_shoot_down_tbody tr:last-child{ border-bottom:1px rgba(128, 128, 128, 0.502) solid; }
#enemy_shoot_down_tbody .last_slot { border-bottom: 1px rgba(128, 128, 128, 0.502) solid; }
#enemy_shoot_down_tbody .td_name {
  width: 160px;
  border-bottom: 1px rgba(128, 128, 128, 0.502) solid;
}
#enemy_shoot_down_tbody .td_plane_name {
  width: 140px;
  text-align: left;
  border-right: 1px rgba(128, 128, 128, 0.502) solid;
}
.td_detail_slot { cursor: pointer !important; }
#enemy_shoot_down_tbody .td_detail_slot {
  opacity: 0.5;
  transition: .4s;
}
#enemy_shoot_down_tbody .td_detail_slot:hover { opacity: 1; }

/* ------------------------------
  詳細設定 #config
-------------------------------- */
#calculate_count { width: 96px; }
#init_prof_parent .prof_select { height: 24px; }


/* ------------------------------
  所持管理 #stock_management
-------------------------------- */
.stock_word_parent {width: 200px;}
#ship_type_select_parent { width: 200px; }
#ship_stock_table {
  font-size: 12px;
  text-align: center;
  height: 60vh;
  min-height: 120px;
  overflow-y: scroll;
}
#ship_stock_table .stock_td_id { width: 10%; }
#ship_stock_table .stock_td_fav { width: 15%; }
#ship_stock_table .stock_td_stock { width: 15%; }
#ship_stock_table .general_tr { cursor: default; }

#plane_type_select_parent { width: 200px; }
#plane_stock_table {
  font-size: 12px;
  text-align: center;
  height: 60vh;
  min-height: 120px;
  overflow-y: scroll;
}
#plane_stock_table .stock_td_type { width: 15%; }
#plane_stock_table .stock_td_name { width: 40%; }
#plane_stock_table .stock_td_fav { width: 20%; }
#plane_stock_table .stock_td_stock { width: 25%; }
.stock_unfav {
  cursor: pointer;
  color: rgba(160, 160, 160, 0.5);
}
.stock_unfav:hover { color: rgba(200, 100, 100, 0.5); }
.stock_fav {
  cursor: pointer;
  color: rgb(255, 102, 102);
}
.stock_fav:hover { color: rgb(255, 68, 68); }
.fav_clicked {
  animation: fav 0.4s linear 0s 1;
}
.unfav_clicked {
  animation: unfav 0.4s linear 0s 1;
}

@keyframes fav {
  0%   { transform: scale(0.1, 0.1) translate(0%, 0%); }
  20%  { transform: scale(0.6, 0.6) translate(0%, 5%); }
  35%  { transform: scale(1.3, 1.3) translate(0%, 10%); }
  50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
  70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
@keyframes unfav {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  20%  { transform: scale(0.95, 1.2) translate(0%, -10%); }
  40%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  60%  { transform: scale(0.95, 1.05) translate(0%, -3%); }
  70%  { transform: scale(1.05, 0.95) translate(0%, 3%); }
  80%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
#input_equipment_json { height: 32px; }
#input_ship_json { height: 32px; }

/* ------------------------------
  所持装備編集 #modal_plane_stock
-------------------------------- */
#plane_status_table {
  font-size: 12px;
  text-align: center;
}
.plane_status_anti_air { width: 25%; }
.plane_status_torpedo { width: 25%; }
.plane_status_bomber { width: 25%; }
.plane_status_radius { width: 25%; }
.plane_status_interception { width: 33%; }
.plane_status_anti_bomber { width: 33%; }
.plane_status_avoid { width: 33%; }

.remodel_label { color: rgb(0, 200, 200); }
.img_plane_card {
  width: 240px;
  height: 240px;
}
.stock_num { width: 74px; }
#stock_sum { width: 168px; }


/* ------------------------------
  計算詳細 #modal_result_detail
-------------------------------- */
#detail_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#detail_table td { padding: 0.2rem; }
#land_base_detail_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#land_base_detail_table td { padding: 0.2rem; }
#detail_calculate_count { width: 120px; }
.detail_plane_row { transition: .2s; }
.btn_show_detail.selected {
  border-color: rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  text-shadow: 2px 2px 3px #fff;
}
.dark-theme .btn_show_detail.selected {
  border-color: #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  text-shadow: 2px 2px 3px #000;
}
/* ------------------------------
  stage2詳細 #modal_stage2_detail
-------------------------------- */
#stage2_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#stage2_table tbody td {
  padding: .1rem;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
#stage2_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }
.stage2_table_death { background-color: rgba(255, 10, 10, 0.1) !important; }
.stage2_table_death:hover { background-color: rgba(255, 10, 10, 0.2) !important; }
.stage2_table_half { background-color: rgba(255, 255, 10, 0.1) !important; }
.stage2_table_half:hover { background-color: rgba(255, 255, 10, 0.2) !important; }
#stage2_detail_slot { width: 120px; }
#free_modify input[type="number"] { width: 100px; }


/* ------------------------------
  触接詳細 #modal_contact_detail
-------------------------------- */
.detail_contact_chart_parent {
  position: relative;
  width: 50%;
  padding: 0 1rem;
}
.detail_contact_rate {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  text-align: center;
  /* -webkit-transform: translateY(-50%);
  transform: translateY(-50%); */
}
#contact_chart_120 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgb(100, 180, 255, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
#contact_chart_117 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(80, 220, 120, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
#contact_chart_112 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(255, 160, 100, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
#contact_chart_100 {
  margin-right: .25rem;
  border: 2px solid rgba(128, 128, 128, 0.2);
  background-color: rgba(128, 128, 128, 0.8);
  width: 24px;
  height: 8px;
  -ms-flex-item-align: center;
  align-self: center;
}
.detail_contact_chart_parent canvas {
  position: relative;
  z-index: 1;
}
.contact_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.contact_table tbody td {
  font-size: 12px;
  padding: .1rem;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
.contact_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }


/* ------------------------------
  対空砲火入力欄 #modal_fleet_antiair_input
-------------------------------- */
#antiair_input_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#antiair_input_table tbody td {
  padding: .15rem;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
#antiair_input_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }

#antiair_cutin_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#antiair_cutin_table tbody td {
  padding: .15rem;
  border-bottom:1px rgba(128, 128, 128, 0.2) solid;
}
#antiair_cutin_table tbody tr:hover { background-color: rgba(128, 128, 128, 0.1); }

#fleet_antiair { width: 100px; }
#fleet_antiair_base { width: 100px; }
#import_antiair {
  font-size: 12px;
  overflow: hidden;
  height: 31px;
  resize: none;
}


/* ------------------------------
  オートモード #auto_expand
-------------------------------- */
#simple_enemy_ap { width: 80px; }
#dest_range { width: 120px; }
#dest_ap { width: 120px; }


/* ------------------------------
  サイトについて #site_information
-------------------------------- */
.text_existTooltip {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none;
}
.manual_movie_wrap {
  position: relative;
  width: 100%;
}
.manual_movie_wrap:before {
  content:"";
  display: block;
  padding-top: 56.25%;
}
.manual_movie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ------------------------------
  艦載機ボックス #draggable_plane_box
-------------------------------- */
#draggable_plane_box {
  user-select: none;
  width: 420px;
  background-color: rgba(255, 255, 255, 0.96);
}
.dark-theme #draggable_plane_box {
  background-color: rgba(60, 65, 75, 0.96);
}
.deep_blue_theme #draggable_plane_box{
  background-color: rgba(30, 35, 60, 0.96);
}
#draggable_plane_box a.nav-link {
  padding-right: 10px;
  padding-left: 10px;
  transition: .2s;
  color: #777;
}
.dark-theme #draggable_plane_box a.nav-link {
  color: #555 !important;
  background-color: transparent !important;
  border-bottom-color: #777 !important;
}
.dark-theme #draggable_plane_box a.nav-link:hover {
  border-bottom: 2px solid;
  border-color: transparent transparent #00aeff80 transparent !important;
  color: #999 !important;
}
.dark-theme #draggable_plane_box a.nav-link.active{
  border-bottom: 2px solid;
  border-color: transparent transparent #00aeff transparent !important;
  color: #eee !important;
}
#btn_hide_plane_box {
  opacity: 0.4;
  transition: .4s;
}
#btn_hide_plane_box:hover {
  opacity: 0.8;
}
#draggable_plane_table {
  overflow: auto;
}
#draggable_plane_tbody {
  max-height: 60vh;
}
.plane_tr_draggable {
  cursor: move;
  border: 1px solid transparent;
}
.plane_tr_draggable:hover {
  border: 1px solid rgb(98, 197, 255);
  box-shadow: inset 0 0 20px rgba(98, 197, 255, 0.5), 0 0 20px rgba(98, 197, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 3px #fff;
}
.dark-theme .plane_tr_draggable:hover {
  border: 1px solid #ccc;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 3px #000;
  background-color: rgba(20, 25, 35, 0.4);
}

/* ------------------------------
  カラー
-------------------------------- */
img[src *= "prof0"]:hover { filter: drop-shadow(0 0 3px rgba(190, 190, 190, 0.5)); }
img[src *= "prof7"]:hover, img[src *= "prof6"]:hover, img[src *= "prof5"]:hover, img[src *= "prof4"]:hover {
  filter: drop-shadow(0 0 3px #fd0);
}
img[src *= "prof3"]:hover, img[src *= "prof2"]:hover, img[src *= "prof1"]:hover {
  filter: drop-shadow(0 0 3px #64b4ff);
}
.css_fighter,
.dark-theme .css_fighter {
  border: 2px rgb(100, 200, 120) solid;
  box-shadow: inset 0 0 20px rgba(0, 255, 100, 0.25);
}
.css_fighter:hover {
  box-shadow: inset 0 0 20px rgba(0, 255, 100, 0.5), 0 0 20px rgba(0, 255, 100, 0.2);
}
.capturing .css_fighter {
  background-color: rgba(0, 255, 100, 0.08);
}
.css_torpedo_bomber,
.dark-theme .css_torpedo_bomber {
  border: 2px rgb(100, 190, 255) solid;
  box-shadow: inset 0 0 20px rgba(0, 190, 255, 0.25);
}
.css_torpedo_bomber:hover {
  box-shadow: inset 0 0 20px rgba(0, 190, 255, 0.5), 0 0 20px rgba(0, 190, 255, 0.2);
}
.capturing .css_torpedo_bomber {
  background-color: rgba(0, 190, 255, 0.08);
}
.css_dive_bomber,
.dark-theme .css_dive_bomber {
  border: 2px rgb(247, 110, 110) solid;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.25);
}
.css_dive_bomber:hover {
  box-shadow: inset 0 0 20px rgba(255, 80, 80, 0.5), 0 0 20px rgba(255, 80, 80, 0.2);
}
.capturing .css_dive_bomber {
  background-color: rgba(255, 80, 80, 0.08);
}
.css_cb_reconnaissance,
.dark-theme .css_cb_reconnaissance {
  border: 2px rgb(255, 200, 10) solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 70, 0.25);
}
.css_cb_reconnaissance:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 70, 0.5), 0 0 20px rgba(255, 255, 70, 0.2);
}
.capturing .css_cb_reconnaissance {
  background-color: rgba(255, 255, 70, 0.08);
}
.css_sp,
.dark-theme .css_sp {
  border: 2px rgb(140, 205, 150) solid;
  box-shadow: inset 0 0 20px rgba(86, 255, 122, 0.25);
}
.css_sp:hover {
  box-shadow: inset 0 0 20px rgba(86, 255, 122, 0.5), 0 0 20px rgba(86, 255, 122, 0.2);
}
.capturing .css_sp {
  background-color: rgba(86, 255, 122, 0.08);
}
.css_lb_attack_aircraft,
.dark-theme .css_lb_attack_aircraft {
  border: 2px rgb(60, 170, 30) solid;
  box-shadow: inset 0 0 20px rgba(53, 199, 17, 0.25);
}
.css_lb_attack_aircraft:hover {
  box-shadow: inset 0 0 20px rgba(40, 200, 0, 0.5), 0 0 20px rgba(40, 200, 0, 0.2);
}
.capturing .css_lb_attack_aircraft {
  background-color: rgba(40, 200, 0, 0.08);
}
.css_lb_fighter,
.dark-theme .css_lb_fighter {
  border: 2px rgb(150, 230, 165) solid;
  box-shadow: inset 0 0 20px rgba(36, 255, 91, 0.25);
}
.css_lb_fighter:hover {
  box-shadow: inset 0 0 20px rgba(36, 255, 91, 0.5), 0 0 20px rgba(36, 255, 91, 0.2);
}
.capturing .css_lb_fighter {
  background-color: rgba(36, 255, 91, 0.08);
}
.css_lb_asw_aircraft,
.dark-theme .css_lb_asw_aircraft {
  border: 2px rgb(110, 135, 205) solid;
  box-shadow: inset 0 0 20px rgba(0, 110, 255, 0.25);
}
.css_lb_asw_aircraft:hover {
  box-shadow: inset 0 0 20px rgba(0, 110, 255, 0.5), 0 0 20px rgba(0, 110, 255, 0.2);
}
.capturing .css_lb_asw_aircraft {
  background-color: rgba(0, 110, 255, 0.08);
}
.css_cb_night_aircraft,
.dark-theme .css_cb_night_aircraft {
  border: 2px rgb(130, 130, 180) solid;
  box-shadow: inset 0 0 20px rgba(122, 98, 255, 0.25);
}
.css_cb_night_aircraft:hover {
  box-shadow: inset 0 0 20px rgba(122, 98, 255, 0.5), 0 0 20px rgba(122, 98, 255, 0.2);
}
.capturing .css_cb_night_aircraft {
  background-color: rgba(122, 98, 255, 0.08);
}

.shoot_table_fighter { background-color: rgba(0, 255, 64, 0.1); }
.shoot_table_torpedo_bomber { background-color: rgba(0, 189, 252, 0.1); }
.shoot_table_dive_bomber { background-color: rgba(255, 0, 0, 0.1); }
.shoot_table_cb_reconnaissance { background-color: rgba(255, 255, 80, 0.1); }
.shoot_table_sp { background-color: rgba(70, 255, 125, 0.1); }
.shoot_table_lb_attack_aircraft { background-color: rgba(0, 190, 48, 0.1); }
.shoot_table_lb_fighter { background-color: rgba(97, 255, 137, 0.1); }
.shoot_table_lb_asw_aircraft { background-color: rgba(34, 104, 255, 0.1); }
.shoot_table_cb_night_aircraft { background-color: rgba(80, 67, 255, 0.1); }
.shoot_table_fighter_hover { background-color: rgba(0, 255, 64, 0.2)!important; }
.shoot_table_torpedo_bomber_hover { background-color: rgba(0, 189, 252, 0.2)!important; }
.shoot_table_dive_bomber_hover { background-color: rgba(255, 0, 0, 0.15)!important; }
.shoot_table_cb_reconnaissance_hover { background-color: rgba(255, 255, 80, 0.2)!important; }
.shoot_table_sp_hover { background-color: rgba(70, 255, 125, 0.2)!important; }
.shoot_table_lb_attack_aircraft_hover { background-color: rgba(0, 190, 48, 0.2)!important; }
.shoot_table_lb_fighter_hover { background-color: rgba(97, 255, 137, 0.2)!important; }
.shoot_table_lb_asw_aircraft_hover { background-color: rgba(34, 104, 255, 0.2)!important; }
.shoot_table_cb_night_aircraft_hover { background-color: rgba(80, 67, 255, 0.2)!important; }
.airStatus0 { background: linear-gradient(.25turn, transparent, rgba(0, 255, 0, .1), transparent); }
.airStatus1 { background: linear-gradient(.25turn, transparent, rgba(150, 255, 0, .1), transparent); }
.airStatus2 { background: linear-gradient(.25turn, transparent, rgba(255, 255, 0, .1), transparent); }
.airStatus3 { background: linear-gradient(.25turn, transparent, rgba(255, 150, 0, .1), transparent); }
.airStatus4 { background: linear-gradient(.25turn, transparent, rgba(255, 100, 100, .1), transparent); }
.bar_status0 { background-color:rgba(60, 170, 30, 0.45); border:1px solid rgba(60, 170, 30, 0.8); }
.bar_status1 { background-color:rgba(140, 205, 150, 0.45); border:1px solid rgba(140, 205, 150, 0.8); }
.bar_status2 { background-color:rgba(255, 255, 80, 0.45); border:1px solid rgba(255, 255,  0, 0.8); }
.bar_status3 { background-color:rgba(255, 150, 50, 0.45); border:1px solid rgba(255, 150, 50, 0.8); }
.bar_status4 { background-color: rgba(255, 80, 80, 0.45); border:1px solid rgba(255, 80, 80, 0.8); }
.bg_status0 { background-color:rgba(60, 170, 30, 0.4); }
.bg_status1 { background-color:rgba(140, 205, 150, 0.4); }
.bg_status2 { background-color:rgba(255, 255, 20, 0.4); }
.bg_status3 { background-color:rgba(255, 150, 50, 0.4); }
.bg_status4 { background-color: rgba(255, 80, 80, 0.4); }
.bar_ex_status0 { background-color:rgba(60, 170, 30, 0.8); }
.bar_ex_status1 { background-color:rgba(140, 205, 150, 0.8); }
.bar_ex_status2 { background-color:rgba(255, 255, 20, 0.7); }
.bar_ex_status3 { background-color:rgba(255, 150, 50, 0.8); }
.bar_ex_status4 { background-color: rgba(255, 80, 80, 0.8); }


/* ------------------------------
  ローダー
-------------------------------- */
#simulator_loading {
  margin-top: 40vh;
  height: 100vh;
}