@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?8joryn') format('truetype'),
    url('fonts/icons.woff?8joryn') format('woff'),
    url('fonts/icons.svg?8joryn#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="fa-"], [class*=" fa-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-plus:before {
  content: "\f067";
}
.fa-search:before {
  content: "\f002";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-th:before {
  content: "\f00a";
}
.fa-check:before {
  content: "\f00c";
}
.fa-close:before {
  content: "\f00d";
}
.fa-remove:before {
  content: "\f00d";
}
.fa-times:before {
  content: "\f00d";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-repeat:before {
  content: "\f01e";
}
.fa-rotate-right:before {
  content: "\f01e";
}
.fa-lock:before {
  content: "\f023";
}
.fa-camera:before {
  content: "\f030";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-warning:before {
  content: "\f071";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-copy:before {
  content: "\f0c5";
}
.fa-files-o:before {
  content: "\f0c5";
}
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-save:before {
  content: "\f0c7";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-rotate-left:before {
  content: "\f0e2";
}
.fa-undo:before {
  content: "\f0e2";
}
.fa-bolt:before {
  content: "\f0e7";
}
.fa-flash:before {
  content: "\f0e7";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-archive:before {
  content: "\f187";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-folder1:before {
  content: "\e92f";
}
.fa-folder-open1:before {
  content: "\e930";
}
.fa-folder-plus:before {
  content: "\e931";
}
.fa-folder-download:before {
  content: "\e933";
}
.fa-folder-upload:before {
  content: "\e934";
}
.fa-exit:before {
  content: "\ea14";
}
.fa-checkbox-checked:before {
  content: "\ea52";
}
.fa-checkbox-unchecked:before {
  content: "\ea53";
}
